<div class="row">
  <div class="col-lg-12">
    <div class="top-menu-block">
<!--      <ul class="nav nav-pills nav-justified">
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a class="nav-link" [routerLink]="['/reports']" >LMS</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/reports/gdi']" >GDI</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/reports/ams']" >AMS</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/reports/scas']" >SCAS</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/reports/maintenance']" >Maintenance</a>
        </li>
      </ul>-->

      <ul class="nav nav-pills nav-justified">
        <li class="nav-item" routerLinkActive="active" *ngFor="let category of categories">
          <a class="nav-link" [routerLink]="['/reports/'+category]" >{{category}}</a>
        </li>
      </ul>
    </div>

    <div class="row">
      <div class="col-md-12 cards-section">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
<!--  <div class="col-lg-2 right-cards right-card-block">
    <sm-asset-type-board></sm-asset-type-board>
    <sm-last-seen-board></sm-last-seen-board>
    <sm-assignments-board class="relative"></sm-assignments-board>
    <sm-movements-board></sm-movements-board>
    <sm-measurements-board></sm-measurements-board>
  </div>-->
</div>
