<div class="modal-header">
  <h4 class="modal-title">Measurement Detail</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-sm-4">Measurement Type</div>
    <div class="col-sm-8">{{measurement?.type?.description}}</div>
  </div>
  <div class="row">
    <div class="col-sm-4">Equipment ID</div>
    <div class="col-sm-8">{{measurement?.asset?.assetId}}</div>
  </div>
  <div class="row">
    <div class="col-sm-4">Equipment Type</div>
    <div class="col-sm-8">{{measurement?.asset?.type.description}}</div>
  </div>
  <div class="row">
    <div class="col-sm-4">Measurement Time</div>
    <div class="col-sm-8">{{measurement?.measurementTime | date: 'yyyy-MM-dd HH:mm:ss'}}</div>
  </div>
  <div class="row">
    <div class="col-sm-4">Value</div>
    <div class="col-sm-8">{{measurement.value}}</div>
  </div>
  <div class="row">
    <div class="col-sm-4">Valid</div>
    <div class="col-sm-8">{{measurement.validMeasurement}}</div>
  </div>
  <div class="row">
    <div class="col-sm-4">Start Location</div>
    <div class="col-sm-8">{{measurement.location?.description}}</div>
  </div>
  <div class="row">
    <div class="col-sm-4">Detected Unit Type</div>
    <div class="col-sm-8">{{measurement.attr | map: 'unit-type'}}</div>
  </div>
  <div class="row">
    <div class="col-sm-4">Unit has nanoloc?</div>
    <div class="col-sm-8">{{measurement.attr | map: 'nanoloq'}}</div>
  </div>
  <div class="row">
    <div class="col-sm-4">Unit ID</div>
    <div class="col-sm-8">{{measurement.attr | map: 'unit-id'}}</div>
  </div>
  <div class="row">
    <div class="col-sm-4">CA Log Type</div>
    <div class="col-sm-8">{{measurement.attr | map: 'log-type'}}</div>
  </div>
  <div class="row">
    <div class="col-sm-4">UUID</div>
    <div class="col-sm-8">{{measurement.uuid}}</div>
  </div>
</div>
<div class="modal-footer">
  <button type="submit" class="btn btn-outline-primary" (click)="activeModal.close(false)">Close</button>
</div>
