<div class="card-container esc-block search-equipment-card">
  <div class="custom-card">
    <div class="card card-primary nmb nbb nbc">
      <div class="card-heading">
        <h3 class="card-title">
          <span class="glyphicon glyphicon-search card_indicator" aria-hidden="true"></span>
          <img src="./assets/images/si1.png" class="card_top_icon">
          MEASUREMENT EVENTS SEARCH
        </h3>
      </div>
      <div class="card-body">
        <form [formGroup]="searchMeasurementsForm" (submit)="searchMeasurements(searchMeasurementsForm.value)">
          <div class="row">
            <div class="col-sm-6">

              <div class="row">
                <div class="col-sm-3"><label>Measurement Type</label></div>
                <div class="col-sm-7">
                  <select class="form-control" formControlName="measurementType">
                    <option value="" [selected]="true">[Any]</option>
                    <option *ngFor="let type of measurementTypes" [value]="type.name">{{type.description}}</option>
                  </select>
                </div>
              </div>

              <div class="row">
                <div class="col-md-3 field-label-responsive">
                  <label>Start Time</label>
                </div>
                <div class="col-md-7">
                  <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                      <input type="datetime-local" class="form-control"
                             placeholder="yyyy-mm-dd" formControlName="startTime">
                      <div class="input-group-append" style="width: 2.6rem; height: 29px;">
                              <span class="input-group-text">
                                <i class="fa fa-calendar"></i>
                              </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-2">
                  <select class="form-control" (change)="onTimeOptionChanged($event.target.value)">
                    <option value="" [selected]="true">[None]</option>
                    <option *ngFor="let option of startTimeOptions | async" [value]="option.name">{{option.description}}</option>
                  </select>
                </div>
              </div>

              <div class="row">
                <div class="col-md-3 field-label-responsive">
                  <label>End Time</label>
                </div>
                <div class="col-md-7">
                  <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                      <input type="datetime-local" class="form-control"
                             placeholder="yyyy-mm-dd" formControlName="endTime">
                      <div class="input-group-append" style="width: 2.6rem; height: 29px;">
                              <span class="input-group-text">
                                <i class="fa fa-calendar"></i>
                              </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-3"><label>Equipment ID</label></div>
                <div class="col-sm-7">
                  <div class="input-group">
                    <input type="text" class="form-control"
                           placeholder="Equipment ID" formControlName="assetId">
                    <span class="input-group-append" style="width: 2.6rem; height: 29px;" (click)="openAssetSearchModal()">
                                <span class="input-group-text" aria-hidden="true">
                                  <i class="fa fa-search"></i>
                                </span>
                            </span>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-3"><label>Max Results</label></div>
                <div class="col-sm-2">
                  <select class="form-control" formControlName="maxResults">
                    <option value="50">50</option>
                    <option value="100">100</option>
                    <option value="200" [selected]="true">200</option>
                    <option value="500">500</option>
                  </select>
                </div>
              </div>
            </div>
          </div>

          <button class="btn btn-primary" type="submit">Search</button>
        </form>
      </div>
    </div>
  </div>

  <!-- measurement-search results-->
  <div class="card-container">
    <div class="custom-card card card-primary ntc" id="equipment_search_results">
      <div class="card-heading">
        <div class="row">
          <div class="col-lg-12">
            <h3 class="card-title">
              <span class="glyphicon glyphicon-search card_indicator" aria-hidden="true"></span>
              <img src="./assets/images/si1.png" class="card_top_icon">
              MEASUREMENT EVENT SEARCH RESULTS
            </h3>
          </div>

        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <sm-measurement-results></sm-measurement-results>
        </div>
      </div>
    </div>
  </div>
</div>

