<div class="card-container">
  <div class="card card-primary search-person-card">
    <div class="card-heading">
      <h3 class="card-title">
        <img src="./assets/images/si8.png" class="card_top_icon">
        Report Parameters
      </h3>
    </div>
    <div class="card-body">
      <form [formGroup]="reportParametersForm" (submit)="generateReport(reportParametersForm.value)">
        <div class="form-row">
          <div class="form-group col-md-3">
            <label for="assetId">Asset ID</label>
            <input type="text" name="name" class="form-control" id="assetId"
                   placeholder="Asset ID" formControlName="assetId" required autofocus>
          </div>

          <div class="form-group col-md-3">
            <ng-template #rt let-r="result" let-t="term">
              {{r.personId}}
              {{ r.attributeMap.entry | map: 'names'}}
            </ng-template>
            <label for="assetType">Asset Type</label>
            <input type="text" class="form-control" id="assetType" placeholder="Equipment Type"
                   formControlName="assetType">
          </div>

          <div class="form-group col-md-2">
            <label for="startDate">Start Date</label>
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
              <input type="text" class="form-control" id="startDate"
                     placeholder="Start Date" formControlName="startDate" ngbDatepicker
                     #sdp="ngbDatepicker">
              <div class="input-group-addon" style="width: 2.6rem; height: 29px;" (click)="sdp.toggle()"><i
                class="fa fa-calendar"></i></div>
            </div>
          </div>

          <div class="form-group col-md-2">
            <label for="endDate">End Date</label>
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
              <input type="text" class="form-control" id="endDate"
                     placeholder="End Date" formControlName="endDate" ngbDatepicker
                     #edp="ngbDatepicker">
              <div class="input-group-addon" style="width: 2.6rem; height: 29px;" (click)="edp.toggle()"><i
                class="fa fa-calendar"></i></div>
            </div>
          </div>

          <div class="form-group col-md-2">
            <label>Action</label>
            <button type="submit" class="btn btn-primary">Generate</button>
          </div>
        </div>
      </form>
    </div>
  </div>


  <div class="card card-primary custom-card" [hidden]="!showReport">
    <div class="card-heading">
      <span class="header-date pull-right">USER 7:00 02.02.2018</span>
      <div class="card-top-button">
        <button class="btn btn-default">
          <img src="./assets/images/sai3.png" class="sai3">
        </button>
        <button class="btn btn-default">
          <img src="./assets/images/sai4.png" class="sai4">
        </button>
      </div>
      <h3 class="card-title">
        <img src="./assets/images/si8.png" class="card_top_icon">
        Asset Repair History Report
      </h3>
    </div>
    <div class="card-body">
      <ul class="list-inline">
        <li><strong>Asset Repair History Report</strong></li>
        <li><strong>Organisation:</strong> Shaft Name</li>
        <li><strong>Date (Period) From:</strong> 06:00 02.03.2016</li>
        <li><strong>To:</strong> 06:00 03.03.2016</li>
      </ul>
      <strong>Equipment Type: </strong> {{asset !== undefined ? (asset.type.description): 'Unknown Type'}}
      <strong>Equipment ID:</strong> {{asset !== undefined ? asset.assetId : '00001'}}
      <strong>Equipment Status:</strong> {{asset !== undefined ? asset.status : 'Operational'}}
      <hr class="dark">

      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border table-hover report-table">
        <thead>
        <tr class="first-row">
          <th>Employee No.</th>
          <th>Employee Name</th>
          <th>Assignment Status</th>
          <th>Date Assigned</th>
          <th>Assignment Expiry Date</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let repair of repairs" class="last-row">
          <td>{{assignment.person.personId}}</td>
          <td>{{assignment.person.attr | map: 'names'}}</td>
          <td>{{assignment.status}}</td>
          <td>{{assignment.startDate | date: 'short'}}</td>
          <td>{{assignment.endDate | date: 'short'}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


