<div class="">
  <div class="card card-primary right-card-block" style="width:100%" id="asset-type">
    <div class="card-body">
      <table class="table table-hover">
        <thead style="cursor: pointer" (click)="assetType = !assetType">
        <tr>
          <th>Asset Type</th>
          <th class="show-on-expand">Total</th>
          <th class="td-dropdown"><i class="fa fa-angle-{{ !assetType ? 'down' : 'up'}}" aria-hidden="true"></i></th>
        </tr>
        </thead>
        <tbody [hidden]="assetType">
        <tr *ngFor="let data of assetTypeStatistics">
          <td (click)="openAssetTypeSummaryModal()">{{data.assetType.description}}</td>
          <td class="text-right">{{data.totalCount}}</td>
        </tr>
        <tr class="total-row" (click)="openAssetSummaryModal()">
          <td>Total</td>
          <td class="text-right">{{assetTypeTotals}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
