<div class="mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource" matSort aria-label="Elements">

    <!-- Id Column -->
    <ng-container matColumnDef="personId">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Person ID</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.personId}}</mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="names">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.attr | map: 'names'}}</mat-cell>
    </ng-container>

    <!-- Shaft Column -->
    <ng-container matColumnDef="shaft">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Shaft</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.attr | map: 'site-name'}}</mat-cell>
    </ng-container>

    <!-- Shift Column -->
    <ng-container matColumnDef="shift">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Shift</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.attr | map: 'shift'}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectPerson(row)"></mat-row>
  </mat-table>

  <mat-paginator #paginator
    [length]="dataSource.data.length"
    [pageIndex]="0"
    [pageSize]="10"
    [pageSizeOptions]="[10, 25, 50, 100, 200]">
  </mat-paginator>
</div>
