<div class="modal-header">
  <h4 class="modal-title">Equipment Search </h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="card-container esc-block search-equipment-card">
    <div class="custom-card">
      <div class="card card-primary nmb nbb nbc">
        <div class="card-heading">
          <h3 class="card-title">
            <span class="glyphicon glyphicon-search card_indicator" aria-hidden="true"></span>
            <img src="./assets/images/si1.png" class="card_top_icon">
            <span class="advanced_indicator" [hidden]="advancedView">
            <img src="./assets/images/advanced_icon.png" (click)="toggleSimpleAdvanced()" style="cursor: pointer">
          </span>
            <span class="advanced_indicator" [hidden]="simpleView">
            <img src="./assets/images/normal_icon.png" (click)="toggleSimpleAdvanced()" style="cursor: pointer">
          </span>
            EQUIPMENT SEARCH
          </h3>
        </div>
        <div class="card-body">
          <form [formGroup]="searchAssetForm" (submit)="searchAsset(searchAssetForm.value)">
            <div class="row">
              <div class="col-sm-6">

                <div class="row">
                  <div class="col-sm-4"><label>Asset Type</label></div>
                  <div class="col-sm-8">
                    <select class="form-control" formControlName="assetType"
                            (change)="onTypeChanged($event.target.value)">
                      <option value="" [selected]="true">[Please Select]</option>
                      <option *ngFor="let option of assetTypes | async" [value]="option.name">{{option.description}}
                      </option>
                    </select>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-4"><label>Asset ID</label></div>
                  <div class="col-sm-8"><input type="text" class="form-control" formControlName="assetId"
                                               placeholder="Asset ID"></div>
                </div>

                <div class="row" [hidden]="!advancedView">
                  <div class="col-sm-4 field-label-responsive"><label>Attribute Name</label></div>
                  <div class="col-sm-8">
                    <select class="form-control" formControlName="attributeName">
                      <option value="" [selected]="true">[Please Select]</option>
                      <option *ngFor="let attrName of assetTypeAttributes" [value]="attrName.name">
                        {{attrName.description}}
                      </option>
                    </select>
                  </div>
                </div>

                <div class="row" [hidden]="!advancedView">
                  <div class="col-sm-4"><label class="required">Attribute Value</label></div>
                  <div class="col-sm-8"><input type="text" class="form-control" formControlName="attributeValue"></div>
                </div>

                <div class="row">
                  <div class="col-sm-4"><label>Max Results</label></div>
                  <div class="col-sm-4">
                    <select class="form-control" formControlName="maxResults">
                      <option value="50">50</option>
                      <option value="100">100</option>
                      <option value="200" [selected]="true">200</option>
                      <option value="500">500</option>
                      <option value="0">Unlimited</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-sm-6" [hidden]="!advancedView">


                <div class="row">
                  <div class="col-sm-4"><label>Status</label></div>
                  <div class="col-sm-8">
                    <select class="form-control" formControlName="status">
                      <option value=":default" [selected]="true">[Please Select]</option>
                      <option value=":maintenance">[Any Maintenance]</option>
                      <option *ngFor="let option of statusOptions" value="{{option.name}}">{{option.description}}
                      </option>
                      <option value=":all">[All]</option>
                    </select>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-4"><label>Spare</label></div>
                  <div class="col-sm-8">
                    <select class="form-control" formControlName="spareIndicator">
                      <option value="" [selected]="true">[Please Select]</option>
                      <option value="true">Yes</option>
                      <option value="false">No</option>
                    </select>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-4"><label>Tracked</label></div>
                  <div class="col-sm-8">
                    <select class="form-control" formControlName="tracked">
                      <option value="" [selected]="true">[Please Select]</option>
                      <option value="true">Yes</option>
                      <option value="false">No</option>
                    </select>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-4"><label>Allocated</label></div>
                  <div class="col-sm-8">
                    <select class="form-control" formControlName="allocated">
                      <option value="" [selected]="true">[Please Select]</option>
                      <option value="true">Yes</option>
                      <option value="false">No</option>
                    </select>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-4"><label>Tagged</label></div>
                  <div class="col-sm-8">
                    <select class="form-control" formControlName="tagged">
                      <option value="" [selected]="true">[Please Select]</option>
                      <option value="true">Yes</option>
                      <option value="false">No</option>
                    </select>
                  </div>
                </div>

              </div>
            </div>

            <button class="btn btn-primary" type="submit">Search</button>
          </form>
        </div>
      </div>
    </div>

    <!-- equipment-search results-->
    <div class="card-container">
      <div class="custom-card card card-primary ntc" id="equipment_search_results">
        <div class="card-heading">
          <div class="row">
            <div class="col-lg-12">
              <h3 class="card-title">
                <span class="glyphicon glyphicon-search card_indicator" aria-hidden="true"></span>
                <img src="./assets/images/si1.png" class="card_top_icon">
                EQUIPMENT SEARCH RESULTS
              </h3>
            </div>

          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <div class="mat-elevation-z8">
              <mat-table #table [dataSource]="dataSource" matSort aria-label="Elements">

                <!-- Id Column -->
                <ng-container matColumnDef="assetId">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
                  <mat-cell *matCellDef="let asset">{{asset.assetId}}</mat-cell>
                </ng-container>

                <!-- Asset Type Column -->
                <ng-container matColumnDef="type">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Asset Type</mat-header-cell>
                  <mat-cell *matCellDef="let asset">{{asset.type.description}}</mat-cell>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="status">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
                  <mat-cell *matCellDef="let asset">{{asset.status}}</mat-cell>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="allocStatus">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Assigned</mat-header-cell>
                  <mat-cell *matCellDef="let asset">{{asset.allocStatus}}</mat-cell>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="options">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Options</mat-header-cell>
                  <mat-cell *matCellDef="let asset" class="table_options">
                    <a (click)="selectAsset(asset)">Select</a>
                  </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let asset; columns: displayedColumns;" (click)="selectAsset(asset)"></mat-row>
              </mat-table>

              <mat-paginator #paginator
                             [length]="dataSource.data.length"
                             [pageIndex]="0"
                             [pageSize]="10"
                             [pageSizeOptions]="[10, 25, 50, 100, 250]">
              </mat-paginator>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="submit" class="btn btn-success">Search</button>
</div>
