<div class="row">
  <div class="col-sm-6">
    <div class="card-container esc-block search-equipment-card">
      <div class="custom-card">
        <div class="card card-primary nmb">
          <div class="card-heading">
            <h3 class="card-title">
              <span class="glyphicon glyphicon-search card_indicator" aria-hidden="true"></span>
              <img src="./assets/images/si1.png" class="card_top_icon">
              REPORT PARAMETERS
            </h3>
          </div>
          <div class="card-body">
            <form *ngIf="report" [formGroup]="reportParametersForm"
                  (submit)="executeReport(reportParametersForm.value)">
              <div class="row">
                <ng-container formArrayName="parameters">
                  <ng-container *ngFor="let param of report?.parameters; let i=index">
                    <ng-container *ngIf="!param.type || param?.type ==='STRING'">
                      <div class="col-md-3 field-label-responsive">
                        <label>{{param?.title}}</label>
                      </div>
                      <div class="col-md-8">
                        <ng-container
                          *ngIf="(param.name === 'assetId' || param.name === 'personId'); else ordinary_input">
                          <div class="input-group">
                            <input type="text" class="form-control"
                                   placeholder="{{param?.title}}" formControlName="{{param?.name}}">
                            <span class="input-group-append" style="width: 2.6rem; height: 29px;" (click)="openModal(param.name)">
                                <span class="input-group-text" aria-hidden="true">
                                  <i class="fa fa-search"></i>
                                </span>
                            </span>
                          </div>
                        </ng-container>
                        <ng-template class="form-group" #ordinary_input>
                          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            <input type="text" class="form-control"
                                   placeholder="{{param?.title}}" formControlName="{{param?.name}}">
                          </div>
                        </ng-template>
                      </div>
                    </ng-container>

                    <ng-container *ngIf="param?.type === 'DATE_TIME'">

                      <div class="col-md-3 field-label-responsive">
                        <label>{{param?.title}}</label>
                      </div>
                      <div class="col-md-8">
                        <div class="form-group">
                          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            <input type="datetime-local" class="form-control"
                                   placeholder="yyyy-mm-dd" formControlName="{{param?.name}}">
                            <div class="input-group-append" style="width: 2.6rem; height: 29px;">
                              <span class="input-group-text">
                                <i class="fa fa-calendar"></i>
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </ng-container>

                    <ng-container *ngIf="param?.type ==='BOOLEAN'">
                      <div class="col-md-4"></div>
                      <div class="col-md-8">
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" style="width: auto;" formControlName="{{param?.name}}">
                            {{param?.title}}
                          </label>
                        </div>
                      </div>
                    </ng-container>

                    <ng-container *ngIf="param?.type ==='OPTION_LOOKUP' || param?.type ==='CLASS_LOOKUP'">
                      <div class="col-md-3 ">
                        <label>{{param?.title}}</label>
                      </div>
                      <div class="col-md-8">
                        <div class="form-group">
                          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            <select class="form-control" formControlName="{{param?.name}}">
                              <option value="{{param?.name}}" [selected]="true">{{param?.title}}</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </ng-container>

                  </ng-container>
                </ng-container>
              </div>
              <button class="btn btn-primary mr-1" type="submit">Execute</button>
              <button class="btn btn-info mr-1" type="submit">Customize</button>
              <button class="btn btn-warning" type="submit">Cancel</button>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12 info-equip-block">
    <div class="card-container custom-card ">
      <div class="card card-primary person-info-card nmb tlc" id="person_information_card">
        <div class="card-heading">
          <div class="card-top-button">
            <button class="btn btn-default">
              <img src="./assets/images/sai3.png" class="sai3" (click)="getPdf()">
            </button>
            <button class="btn btn-default">
              <img src="./assets/images/sai4.png" class="sai4" (click)="getPdf()">
            </button>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <h3 class="card-title">
                <img src="./assets/images/si8.png" class="card_top_icon">
                {{report?.title}}
              </h3>
            </div>
            <div class="col-lg-6">
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive" *ngFor="let result of reportResults">

            <div class="row">
              <div class="col-lg-12 info-equip-block">
                <div class="card-container custom-card ">
                  <div class="card card-primary person-info-card nmb tlc">
                    <div class="card-heading">
                      <div class="row">
                        <div class="col-lg-6">
                          <h3 class="card-title">
                            {{result?.title}}
                          </h3>
                        </div>
                        <div class="col-lg-6">
                        </div>
                      </div>
                    </div>
                    <div class="card-body">
                          <sm-report-data-table [resultSet]="result" class="dataTable row-border hover report-table data_table"></sm-report-data-table>
                    </div>
                  </div>
                  <!--  -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--  -->
    </div>
  </div>
</div>
