<nav class="navbar navbar-expand-md navbar-dark sm-header fixed-top">
  <sm-logo></sm-logo>
  <sm-version></sm-version>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sm-navbar" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="sm-navbar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown" ngbDropdown>
        <a class="nav-link dropdown-toggle title-block" id="dropdown01" ngbDropdownToggle>{{menuTitle}}</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01" ngbDropdownMenu>
          <a class="dropdown-item" routerLink="admin" (click)="setMenuTitle('Admin Dashboard')">Admin</a>
          <a class="dropdown-item" routerLink="lampsman" (click)="setMenuTitle('Lampsman Dashboard')">Lampsman Dashboard</a>
          <a class="dropdown-item" routerLink="paging" (click)="setMenuTitle('Monitoring and Paging')">Monitoring and Paging</a>
          <a class="dropdown-item" routerLink="events" (click)="setMenuTitle('Event Dashboard')">Events</a>
          <a class="dropdown-item" routerLink="repairs" (click)="setMenuTitle('Repair Dashboard')">Repairs</a>
          <a class="dropdown-item" routerLink="reports" (click)="setMenuTitle('Report Dashboard')">Reports</a>
        </div>
      </li>
    </ul>
  </div>
  <sm-notifications></sm-notifications>
  <sm-user></sm-user>
</nav>
