nav{
  display: flex;
}
sm-logo{
  flex: 1;
}
#sm-navbar{
  flex: 5;
}
#sm-navbar ul li{
  display: flex;
  justify-content: center;
  align-items: center;
}
sm-user{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
sm-notifications{
  flex: 1;
}
sm-version{
  flex: 2;
}

.sm-header {
  background: #202d45;
  color: #FFFFFF;
}
.title-block {
  text-transform: uppercase;
  margin: 0;
  line-height: 33px;
  font-weight: bold;
  font-size: 21px;
  vertical-align: middle;
  text-align: center;
}

.navbar-nav{
  justify-content: center;
  align-items: center;
  width: 100%;
}
