<div class="modal-header">
  <h4 class="modal-title">Edit Person</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form [formGroup]="editPersonForm" novalidate (ngSubmit)="modifyPerson(editPersonForm.value)">
<div class="modal-body">
    <div class="row">
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-4 ">
            <label for="type" class="required">Person Type</label>
          </div>
          <div class="col-md-8">
            <div class="form-group">
              <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                <select class="form-control" id="type" formControlName="type">
                  <option [value]="person.type.name" [selected]="true">{{person.type.description}}</option>
                </select>
              </div>
            </div>
          </div>

          <div class="col-md-4 field-label-responsive">
            <label for="id" class="required">Person ID</label>
          </div>
          <div class="col-md-8">
            <div class="form-group">
              <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                <input type="text" name="name" class="form-control" id="id"
                       placeholder="Person ID" formControlName="personId" required autofocus>
              </div>
            </div>
          </div>

          <ng-container formArrayName="attributeMap">
            <ng-container *ngFor="let attribute of (person.type.attributes | sortBy: 'index'); let i=index">
              <ng-container *ngIf="attribute?.type.systemType==='STRING'">

                <div class="col-md-4 field-label-responsive">
                  <label>{{attribute?.description}}</label>
                </div>
                <div class="col-md-8">
                  <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                      <input type="text" name="name" class="form-control"
                             placeholder="{{attribute?.description}}" formControlName="{{attribute?.name}}">
                    </div>
                  </div>
                </div>
              </ng-container>

              <ng-container *ngIf="attribute?.type.systemType==='DATE'">

                <div class="col-md-4 field-label-responsive">
                  <label>{{attribute?.description}}</label>
                </div>
                <div class="col-md-8">
                  <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                      <input type="text" name="name" class="form-control"
                             placeholder="yyyy-mm-dd" formControlName="{{attribute?.name}}" ngbDatepicker
                             #d="ngbDatepicker">
                      <div class="input-group-addon" style="width: 2.6rem; height: 29px;" (click)="d.toggle()"><i
                        class="fa fa-calendar"></i></div>
                    </div>
                  </div>
                </div>
              </ng-container>

              <ng-container *ngIf="attribute?.type.systemType==='BOOLEAN'">
                <div class="col-md-4"></div>
                <div class="col-md-8">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" style="width: auto;" formArrayName="{{attribute?.name}}">
                      {{attribute?.description}}
                    </label>
                  </div>
                </div>
              </ng-container>

              <ng-container *ngIf="attribute?.type.systemType==='OPTION_LOOKUP'">
                <div class="col-md-4 ">
                  <label>{{attribute?.description}}</label>
                </div>
                <div class="col-md-8">
                  <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                      <select class="form-control" formControlName="{{attribute?.name}}">
                        <option value="{{attribute?.name}}" [selected]="true">{{attribute?.description}}</option>
                      </select>
                    </div>
                  </div>
                </div>
              </ng-container>

              <ng-container *ngIf="attribute?.type.systemType==='TAG'">

                <div class="col-md-4 field-label-responsive">
                  <label>{{attribute?.description}}</label>
                </div>
                <div class="col-md-8">
                  <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                      <input type="text" class="form-control"
                             placeholder="{{attribute?.description}}" formControlName="{{attribute?.name}}">
                    </div>
                  </div>
                </div>
              </ng-container>

            </ng-container>
          </ng-container>
        </div>
      </div>
      <div class="col-md-3">
        <div class="add-extras">
          <div class="extras-list">
            <ul>
              <li>
                <button class="btn" (click)="selectPhoto()">
                  <span class="fa fa-user-o" [ngClass]="{'extra-selected' : ''}"></span>
                </button>
                <span class="label">Add <br>Photo</span>
              </li>
              <li>
                <button class="btn" (click)="addInduction()">
                  <!-- <span class="glyphicon icon-industry-expiry" ng-class="{'extra-selected' : vm.addIndustry}"></span> -->
                  <img src="./assets/images/sdashi1.png" class="sdashi1">
                </button>
                <span class="label">Add <br>Induction</span>
              </li>
              <li>
                <button class="btn" (click)="addMedical()">
                  <!-- <span class="glyphicon icon-medical-expiry" ng-class="{'extra-selected' : vm.addMedical}"></span> -->
                  <img src="./assets/images/sdashi2.png" class="sdashi2">
                </button>
                <span class="label">Add <br>Medical</span>
              </li>
              <li>
                <button class="btn" (click)="addTraining()">
                  <!-- <span class="glyphicon icon-training" ng-class="{'extra-selected' : vm.addTraining}"></span> -->
                  <img src="./assets/images/sdashi3.png" class="sdashi3">
                </button>
                <span class="label">Add <br>Training</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
</div>
<div class="modal-footer">
  <button type="submit" class="btn btn-success">Modify</button>
  <button type="button" class="btn btn-outline-primary" (click)="activeModal.close('Close click')">Close</button>
</div>
</form>
