<div class="card-container esc-block search-equipment-card" *ngIf="showCard | async">
  <div class="custom-card">
    <div class="card card-primary nmb">
      <div class="card-heading">
        <h3 class="card-title">
          <span class="card_indicator" aria-hidden="true"></span>
          <img src="./assets/images/si1.png" class="card_top_icon">
          Create New Asset
        </h3>
      </div>
      <div class="card-body">
        <form [formGroup]="createAssetForm" (submit)="createAsset(createAssetForm.value)">
          <div class="row">
            <div class="col-md-4 ">
              <label for="type" class="required">Asset Type</label>
            </div>
            <div class="col-md-8">
              <div class="form-group">
                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                  <select class="form-control" id="type" formControlName="type" >
                    <option value="" [selected]="true">{{assetType.description}}</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="col-md-4 field-label-responsive">
              <label for="id" class="required">Asset ID</label>
            </div>
            <div class="col-md-8">
              <div class="form-group">
                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                  <input type="text" name="name" class="form-control" id="id"
                         placeholder="Asset ID" formControlName="assetId" required autofocus>
                </div>
              </div>
            </div>

            <ng-container formArrayName="attributeMap">
              <ng-container *ngFor="let attribute of (assetType.attributes | sortBy: 'index'); let i=index">
                <ng-container *ngIf="attribute?.type.systemType ==='STRING'">

                  <div class="col-md-4 field-label-responsive">
                    <label>{{attribute?.description}}</label>
                  </div>
                  <div class="col-md-8">
                    <div class="form-group">
                      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <input type="text" class="form-control"
                               placeholder="{{attribute?.description}}" formControlName="{{attribute?.name}}">
                      </div>
                    </div>
                  </div>
                </ng-container>

                <ng-container *ngIf="attribute?.type.systemType==='DATE'">

                  <div class="col-md-4 field-label-responsive">
                    <label>{{attribute?.description}}</label>
                  </div>
                  <div class="col-md-8">
                    <div class="form-group">
                      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <input type="date" class="form-control"
                               placeholder="yyyy-mm-dd" formControlName="{{attribute?.name}}" ngbDatepicker #d="ngbDatepicker" useValueAsDate>
                        <div class="input-group-addon" style="width: 2.6rem; height: 29px;" (click)="d.toggle()"><i class="fa fa-calendar"></i></div>
                      </div>
                    </div>
                  </div>
                </ng-container>

                <ng-container *ngIf="attribute?.type.systemType==='BOOLEAN'">
                  <div class="col-md-4"></div>
                  <div class="col-md-8">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" style="width: auto;" formControlName="{{attribute?.name}}">
                        {{attribute?.description}}
                      </label>
                    </div>
                  </div>
                </ng-container>

                <ng-container *ngIf="attribute?.type.systemType==='OPTION_LOOKUP'">
                  <div class="col-md-4 ">
                    <label>{{attribute?.description}}</label>
                  </div>
                  <div class="col-md-8">
                    <div class="form-group">
                      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <select class="form-control" formControlName="{{attribute?.name}}">
                          <option value="{{attribute?.name}}" [selected]="true">{{attribute?.description}}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </ng-container>

                <ng-container *ngIf="attribute?.type.systemType==='TAG'">

                  <div class="col-md-4 field-label-responsive">
                    <label>{{attribute?.description}}</label>
                  </div>
                  <div class="col-md-8">
                    <div class="form-group">
                      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <input type="text" class="form-control"
                               placeholder="{{attribute?.description}}" formControlName="{{attribute?.name}}">
                      </div>
                    </div>
                  </div>
                </ng-container>

              </ng-container>
            </ng-container>
            <button class="btn btn-success" type="submit">Create</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

