<div class="expiry-block">
  <div class="top-block">
    <img src="./assets/images/avatar.png" class="person-photo">
  </div>
  <div class="person-name" *ngIf="person">
    <span>Name: <strong>{{person?.attr | map: 'names'}}</strong></span>
    <span>ID: <strong>{{person?.personId}}</strong></span>
  </div>
  <div class="expiry-list">
    <ul>
      <li>
        <a routerLink="" (click)="addInductionExpiry()">
          <img src="./assets/images/sdashi1.png" class="sdashi1">
          <span class="label">Induction <br>Expiry</span>
        </a>
      </li>
      <li>
        <a routerLink="" (click)="addMedicalExpiry()">
          <img src="./assets/images/sdashi2.png" class="sdashi2">
          <span class="label">Medical <br>Expiry</span>
        </a>
      </li>
      <li>
        <a routerLink="" (click)="addTrainingExpiry()">
          <img src="./assets/images/sdashi3.png" class="sdashi3">
          <span class="label">Training <br>Expiry</span>
        </a>
      </li>
    </ul>

    <div class="miner_status" *ngIf="person">
      <strong>Status:</strong> {{person.attr | map: 'workStatus'}}
    </div>
  </div>
</div>
