<button class="btn dropdown-toggle" data-toggle="dropdown" id="minerbodyDropdown">
  <span class="fa fa-search main_icon">
  </span>
  <img src="./assets/images/sbi9.png" class="sbi4 plus_icon">
</button>
<ul class="dropdown-menu" aria-labelledby="minerbodyDropdown">
  <li class="dropdown-header">Status: {{operationalStatus}}</li>
  <li class="dropdown-header">Permanents</li>
  <ng-container *ngFor="let assignment of assignments; let i = index">
    <li *ngIf="assignment?.asset.allocStatus ==='allocated'">
      <a href="javascript:void(0)" ><strong>{{assignment?.asset.assetId}}</strong> <span class="fa fa-caret-right pull-right" aria-hidden="true"></span></a>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li class="dropdown-header">Actions</li>
        <li><a href="#">Inspect</a></li>
        <li><a href="javascript:void(0)" (click)="deallocate(assignment)">Deallocate</a></li>
        <li><a href="#">Book in for Repair</a></li>
        <li role="separator" class="divider"></li>
        <li class="dropdown-header">Reports</li>
        <li><a href="javascript:void(0)">Repair History</a></li>
        <li><a href="javascript:void(0)">Movement History</a></li>
        <li><a href="javascript:void(0)" (click)="assetAssignmentHistoryReport(assignment.asset.assetId)">Assignment History</a></li>
        <li><a href="javascript:void(0)">Last Known Location</a></li>
      </ul>
    </li>
  </ng-container>


  <li class="dropdown-header">Spares</li>
  <ng-container *ngFor="let assignment of assignments">
    <li *ngIf="assignment.asset.allocStatus ==='temp-alloc'">
      <a href="javascript:void(0)"> <strong>{{assignment.asset.assetId}}</strong> <span class="fa fa-caret-right pull-right" aria-hidden="true"></span></a>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li class="dropdown-header">Actions</li>
        <li><a href="#">Inspect</a></li>
        <li><a href="javascript:void(0)" (click)="deallocate(assignment)">Deallocate</a></li>
        <li><a href="#">Book in for Repair</a></li>
        <li role="separator" class="divider"></li>
        <li class="dropdown-header">Reports</li>
        <li><a href="javascript:void(0)">Repair History</a></li>
        <li><a href="javascript:void(0)">Movement History</a></li>
        <li><a href="javascript:void(0)" (click)="assetAssignmentHistoryReport(assignment.asset.assetId)">Assignment History</a></li>
        <li><a href="javascript:void(0)">Last Known Location</a></li>
      </ul>
    </li>
  </ng-container>


  <li role="separator" class="divider"></li>
  <li class="dropdown-header">Actions</li>
  <li class="dropdown-submenu">
    <a href="javascript:void(0)" >Create <span class="fa fa-caret-right pull-right" aria-hidden="true"></span></a>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li *ngFor="let assetType of assetTypes"><a href="javascript:void(0)" (click)="openCreateModal(assetType)">{{assetType?.description}}</a></li>
    </ul>
  </li>
  <li class="dropdown-submenu" *ngIf="person">
    <a href="javascript:void(0)">Assign Permanent <span class="fa fa-caret-right pull-right" aria-hidden="true"></span></a>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li *ngFor="let assetType of assetTypes"><a href="javascript:void(0)" (click)="openAvailableAssetsModal(assetType, 'Permanent', 'false')">{{assetType?.description}}</a></li>
    </ul>
  </li>
  <li *ngIf="person">
    <a href="javascript:void(0)">Assign Spare <span class="fa fa-caret-right pull-right" aria-hidden="true"></span></a>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li *ngFor="let assetType of assetTypes"><a href="javascript:void(0)" (click)="openAvailableAssetsModal(assetType, 'Spare', 'true')">{{assetType?.description}}</a></li>
      <!--<li *ngFor="let option of shiftOptions"><a href="javascript:void(0)" (click)="openAvailableAssetsDialog(['Spare', 'true'])">{{option}}</a></li>-->
    </ul>
  </li>

  <li role="separator" class="divider"></li>
  <li class="dropdown-header">Reports</li>
  <li><a href="javascript:void(0)">Repair History</a></li>
  <li><a href="javascript:void(0)">Movement History</a></li>
  <li><a href="javascript:void(0)">Assignment History<span aria-hidden="true"></span></a>
  </li>
  <li><a href="javascript:void(0)">Last Known Location</a></li>
  <li role="separator" class="divider"></li>
  <li><a routerLink="/reports">Allocation Register</a></li>
</ul>
