<div class="row mb ml-1 mr-1">
  <div class="col-lg-9" style="padding-right:0">
    <div class="miner-body">
      <img src="./assets/images/miner-body.png" class="miner_body_bkg">

<!--      <sm-misc [assignedMisc]="assignedMisc"></sm-misc>
      <sm-pds [assignedPds]="assignedPds"></sm-pds>-->
      <sm-caplamp [assignedCaplamps]="assignedCaplamps"></sm-caplamp>
      <sm-rescuepack [assignedRescuePacks]="assignedRescuePacks"></sm-rescuepack>
      <sm-gdi [assignedGdis]="assignedGdis"></sm-gdi>
      <button class="clear_search" (click)="clearSearch()">Clear Search</button>
    </div>
  </div>
  <div class="col-lg-3" style="padding:0">
    <sm-expiry-block></sm-expiry-block>
  </div>
</div>
