<div class="row">
  <div class="col-md-6">
    <sm-search-person></sm-search-person>
    <sm-search-asset></sm-search-asset>
  </div>
  <div class="col-md-6">
    <sm-minerbody></sm-minerbody>
    <sm-person-information></sm-person-information>
    <sm-recent-allocations></sm-recent-allocations>
  </div>
</div>
