<div class="modal-header">
  <h4 class="modal-title">Movement Request Detail</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-sm-4 title">Request Time</div>
    <div class="col-sm-8">{{request?.requestTime | date: 'yyyy-MM-dd HH:mm:ss'}}</div>
  </div>
  <div class="row">
    <div class="col-sm-4">Request Type</div>
    <div class="col-sm-8">{{request?.type?.description}}</div>
  </div>
  <div class="row">
    <div class="col-sm-4">Location</div>
    <div class="col-sm-8">{{request?.location?.description}}</div>
  </div>
  <div class="row">
    <div class="col-sm-4">Employee ID</div>
    <div class="col-sm-8">{{request?.person?.personId}}</div>
  </div>
  <div class="row">
    <div class="col-sm-4">Employee Name</div>
    <div class="col-sm-8">{{request?.person?.attr | map: 'names'}}</div>
  </div>
  <div class="row">
    <div class="col-sm-4">UUID</div>
    <div class="col-sm-8">{{request?.uuid}}</div>
  </div>
</div>
<div class="modal-footer">
  <button type="submit" class="btn btn-outline-primary" (click)="activeModal.close(false)">Close</button>
</div>
