.right-card-block .card-primary .card-body {
  padding: 0; }
  .right-card-block .card-primary .card-body .table thead {
    background: #004b99;
    color: #fff;
    font-weight: 500; }

.no-padding {
  padding: 0 !important; }

.grey-bordered .card {
  border-color: #b3b3b3; }

.capitalise {
  text-transform: capitalize; }

.btn-secondary {
  background-color: #0071ba;
  color: #fff; }

.inline-block {
  display: inline-block; }

.icon-outline {
  border: 1px solid #fff;
  height: 35px;
  width: 35px;
  border-radius: 50px;
  float: right;
  padding: 5px;
  margin: 0 2px; }
  .icon-outline img {
    max-width: 30px;
    max-height: 20px;
    margin: 2px 0px; }
  .icon-outline.icon-maximize {
    border: none;
    padding: 5px;
    border-radius: 0;
    max-width: 50px;
    margin-left: 30px; }
    .icon-outline.icon-maximize img {
      min-width: 40px; }

.right-card-block.card-red .card-body {
  padding: 0; }
.right-card-block.card-red .table thead {
  font-weight: 500;
  background: #ed1d2f !important;
  color: #fff; }
.right-card-block.card-red .table tbody {
  margin: 15px 0; }
.right-card-block.card-red .card-body .btn-action {
  border: none;
  background: #ed1d2f;
  padding: 2px 5px; }

.card-main-btn {
  min-width: 80px;
  border-radius: 0;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase; }

.location-card .card-body {
  padding-top: 20px; }

.secondary-table .form-control, .secondary-table label {
  margin: 0; }

.empty-space {
  height: 185px; }

.items-not-seen {
  line-height: 1.26;
  margin: 0; }

.location-indicators {
  /*margin-top: 10px;*/ }
  .location-indicators .has-top-icon {
    display: inline-block;
    background: #2e3b5f;
    height: 45px;
    width: 45px;
    border-radius: 50px;
    color: #fff;
    text-align: center;
    position: relative; }
    .location-indicators .has-top-icon .icon-top {
      position: absolute;
      top: -10px;
      margin: auto;
      text-align: center;
      height: 30px;
      width: 30px;
      background: #2e3b5f;
      border-radius: 50px;
      left: 0;
      right: 0; }
      .location-indicators .has-top-icon .icon-top img {
        max-width: 24px;
        margin-top: 2px;
        max-height: 20px; }
    .location-indicators .has-top-icon span.indicators-digits {
      color: #fff;
      line-height: 50px;
      font-weight: 600;
      font-size: 14px; }

.monitoring-card .monitoring-heading {
  position: relative; }
  .monitoring-card .monitoring-heading .card-title {
    padding-left: 30px; }
  .monitoring-card .monitoring-heading .record {
    background: #ed1d2f;
    height: 15px;
    width: 15px;
    position: absolute;
    border-radius: 50px;
    margin-right: 10px;
    top: 12px;
    left: 5px; }
  .monitoring-card .monitoring-heading .table tr td {
    width: auto; }
.monitoring-card .monitoring-card-body {
  background: #b4c8e0 !important; }
  .monitoring-card .monitoring-card-body .monitor-inner-card .card-body {
    min-height: 450px;
    position: relative; }
    .monitoring-card .monitoring-card-body .monitor-inner-card .card-body.monitoring-body img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      max-width: 50px; }

.header-controls {
  font-size: 12px;
  text-align: right;
  padding-top: 8px; }
  .header-controls .btn {
    max-height: 25px;
    line-height: 14px;
    border: 1px solid #fff; }

.smooth-transition, .relative #equipment-type, .relative #assets-last-seen-card, .relative #assignment-card, .relative #movement-card, .relative #measurement-card, .relative #distress-card {
  -webkit-transition: .25s all ease;
  -moz-transition: .25s all ease;
  -ms-transition: .25s all ease;
  transition: .25s all ease; }

.expand-card, .relative #equipment-type:hover, .relative #assets-last-seen-card:hover, .relative #assignment-card:hover, .relative #movement-card:hover, .relative #measurement-card:hover, .relative #distress-card:hover {
  width: 500px !important;
  height: auto;
  margin-left: 0px;
  margin-right: -55px;
  z-index: 1;
  float: right;
}

.right-card-block {
  position: relative; }

.relative {
  position: relative;
  clear: both; }
  .relative #equipment-type .show-on-expand, .relative #assets-last-seen-card .show-on-expand, .relative #assignment-card .show-on-expand, .relative #movement-card .show-on-expand, .relative #measurement-card .show-on-expand, .relative #distress-card .show-on-expand {
    display: none; }
  .relative #equipment-type .td-dropdown, .relative #assets-last-seen-card .td-dropdown, .relative #assignment-card .td-dropdown, .relative #movement-card .td-dropdown, .relative #measurement-card .td-dropdown, .relative #distress-card .td-dropdown {
    text-align: right;
    font-size: 18px; }
  .relative #equipment-type:hover, .relative #assets-last-seen-card:hover, .relative #assignment-card:hover, .relative #movement-card:hover, .relative #measurement-card:hover, .relative #distress-card:hover {
    /*.td-dropdown {
    	display: none;
    }*/ }
    .relative #equipment-type:hover .show-on-expand, .relative #assets-last-seen-card:hover .show-on-expand, .relative #assignment-card:hover .show-on-expand, .relative #movement-card:hover .show-on-expand, .relative #measurement-card:hover .show-on-expand, .relative #distress-card:hover .show-on-expand {
      display: inline-block;
    }

.action-modal .card-body .row {
  margin: 20px 0; }
  .action-modal .card-body .row:first-child {
    margin-top: 0; }
  .action-modal .card-body .row .col-md-4, .action-modal .card-body .row .col-md-3, .action-modal .card-body .row .col-md-9, .action-modal .card-body .row .col-md-12 {
    padding: 0px 6px; }
.action-modal .card-body .respond-section .btn {
  min-width: 100%;
  margin: 0 2px; }
  .action-modal .card-body .respond-section .btn:last-child {
    margin-right: 0; }
  .action-modal .card-body .respond-section .btn:first-child {
    margin-left: 0; }
.action-modal .card-body .btn-grey {
  background: #333;
  color: #fff;
  min-width: 175px;
  text-transform: uppercase; }

/*# sourceMappingURL=main.css.map */
