<div class="col-lg-12 results-blocks">
  <div class="card-container custom-card" id="recently_allocated_equipment_card">
    <div class="card card-primary person-info-card nmb nbc nbb">
      <div class="card-heading">
        <div class="card-top-button">
          <button class="btn btn-default">
            <img src="./assets/images/sai3.png" class="sai3">
          </button>
          <button class="btn btn-default">
            <img src="./assets/images/sai4.png" class="sai4">
          </button>
        </div>
        <div class="row">
          <div class="col-lg-8">
            <h3 class="card-title">
              <img src="./assets/images/si13.png" class="card_top_icon">
              RECENTLY ALLOCATED EQUIPMENT
            </h3>
          </div>
          <div class="col-lg-4">
            <div class="card-right-button text-right">

            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table datatable [dtOptions]="dtOptions" class="row-border hover report-table data_table">
            <thead>
            <tr class="first-row">
              <th>ID</th>
              <th>Asset Type</th>
              <th>Assignment Type</th>
              <th>Status</th>
              <th>Options</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let allocation of allocations | async" class="last-row">
              <td class="small_text">{{allocation.assetId}}</td>
              <td class="small_text">{{allocation.type?.description}}</td>
              <td class="small_text">{{allocation.allocStatus}}</td>
              <td class="small_text">{{allocation.status}}</td>
              <td>
                <div class="table_options">
                  <img (click)="deallocate(allocation)" src="./assets/images/DeAssign-Icon-37x37.png" title="Deallocate" alt="De-assign" class="sbi8" />
                  <img (click)="viewDetails(allocation)" src="./assets/images/View-Details-Icon-37x37.png" title="view details" alt="view details" class="sbi8" />
                  <img (click)="repairHistory(allocation)" src="./assets/images/Repair-Icon-37x37.png" title="repair history" alt="repair history" class="sbi8" />
                  <img (click)="allocationHistory(allocation)" src="./assets/images/Allocation-Icon-37x37.png" title="allocate history" alt="allocate history" class="sbi8" (click)="vm.confirmPopup()" />
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!--  -->
    <div class="card card-primary ntc" id="recently_deallocated_equipment_card">
      <div class="card-heading">
        <div class="row">
          <div class="col-lg-8">
            <h3 class="card-title">
              <img src="./assets/images/si12.png" class="card_top_icon">
              RECENTLY DEALLOCATED EQUIPMENT
            </h3>
          </div>
          <div class="col-lg-4">
            <div class="card-right-button text-right">

            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table datatable [dtOptions]="dtOptions" class="row-border hover report-table data_table">
            <thead>
            <tr class="first-row">
              <th>ID</th>
              <th>Asset Type</th>
              <th>Assignment Type</th>
              <th>Status</th>
              <th>Options</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
              <th>ID</th>
              <th>Asset Type</th>
              <th>Assignment Type</th>
              <th>Status</th>
              <th>Options</th>
            </tr>
            </tfoot>
            <tbody>
            <tr *ngFor="let dealloc of deallocations | async" class="last-row">
              <td class="small_text">{{dealloc.assetId}}</td>
              <td class="small_text">{{dealloc.type?.description}}</td>
              <td class="small_text">{{dealloc.allocStatus}}</td>
              <td class="small_text">{{dealloc.status}}</td>
              <td>
                <div class="table_options">
                  <img (click)="allocate(dealloc)" src="./assets/images/Assign-Icon-37x37.png" title="Allocate" alt="Assign" class="sbi8" />
                  <img (click)="viewDetails(dealloc)" src="./assets/images/View-Details-Icon-37x37.png" title="View details" alt="view details" class="sbi8" />
                  <img (click)="repairHistory(dealloc)" src="./assets/images/Repair-Icon-37x37.png" title="Repair history" alt="repair history" class="sbi8" />
                  <img (click)="allocationHistory(dealloc)" src="./assets/images/Allocation-Icon-37x37.png" title="Allocation history" alt="allocate history" class="sbi8" (click)="vm.confirmPopup()" />
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
