<div class="col-lg-12 info-equip-block">
<div class="card-container custom-card ">
  <div class="card card-primary person-info-card nmb nbb tlc" [ngClass]="{'green': focus}" id="person_information_card">
    <div class="card-heading">
      <div class="card-top-button">
        <button class="btn btn-default">
          <img src="./assets/images/sai3.png" class="sai3">
        </button>
        <button class="btn btn-default">
          <img src="./assets/images/sai4.png" class="sai4">
        </button>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <h3 class="card-title">
            <img src="./assets/images/si8.png" class="card_top_icon">
            PERSON INFORMATION
          </h3>
        </div>
        <div class="col-lg-6">
          <div class="card-right-button text-right">
            <button class="btn btn-info button-icon">
              <img src="./assets/images/ssi2.png" class="ssi2">
            </button>
            <button class="btn btn-info button-icon">
              <img src="./assets/images/ssi5.png" class="ssi5">
            </button>
            <button class="btn btn-info button-icon">
              <img src="./assets/images/ssi8.png" class="ssi8">
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="dataTable row-border hover report-table data_table">
          <thead>
          <tr class="first-row">
            <th>Person ID</th>
            <th>Surname & Initials</th>
            <th>Occupation</th>
            <th>Shift</th>
            <th>Option</th>
          </tr>
          </thead>
          <tbody>
          <tr class="last-row" *ngIf="person !==undefined">
            <td class="small_text">{{person.personId }}</td>
            <td class="small_text">{{person.attr | map: 'names'}}</td>
            <td class="small_text">{{person.attr | map: 'occupation'}}</td>
            <td class="small_text">{{person.attr | map: 'shift'}}</td>
            <td>
              <div class="table_options">
                <!--<img (click)="allocate()" src="./assets/images/Assign-Icon-37x37.png" alt="Assign" class="sbi8" data-toggle="popover" data-trigger="focus" title="Assign Asset"/>-->
                <img (click)="viewDetails(person)" src="./assets/images/View-Details-Icon-37x37.png" title="view details" alt="view details" class="sbi8" />
                <img (click)="modify(person)" src="./assets/images/Modify-Icon-37x37.png" title="modify" alt="modify" class="sbi8" />
                <img (click)="allocationHistory(person)" src="./assets/images/Allocation-Icon-37x37.png" title="Allocation history" alt="allocate history" class="sbi8"/>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!--  -->
 <sm-person-allocations [personAssignments]="personAssignments"></sm-person-allocations>
</div>
</div>
