<div class="relative">
  <div class="card card-primary right-card-block" style="width:100%" id="measurement-card">
    <div class="card-body">
      <table class="table">
        <thead style="cursor: pointer;" (click)="measurement == !measurement">
        <tr>
          <td>Measurement</td>
          <td class="td-dropdown" colspan="4"><i class="fa fa-angle-{{ !measurement ? 'down' : 'up'}}" aria-hidden="true"></i></td>
        </tr>
        <tr>
          <th>Asset ID</th>
          <th class="text-right">Measurement</th>
          <th class="show-on-expand">Person ID</th>
          <th class="show-on-expand">Location</th>
          <th class="text-right">Time</th>
        </tr>
        </thead>
        <tbody (show)="measurement">
        <tr *ngFor="let data of measurements">
          <td>{{data.equipmentId}}</td>
          <td class="text-right">{{data.assignedTo}}</td>
          <td class="show-on-expand">000000000</td>
          <td class="show-on-expand">0000000</td>
          <td class="text-right">{{data.time}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
