<div class="modal-header">
  <h4 class="modal-title">Movement Event Detail</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-sm-4">Event Time</div>
    <div class="col-sm-8">{{event.eventTime | date: 'yyyy-MM-dd HH:mm:ss'}}</div>
  </div>
  <div class="row">
    <div class="col-sm-4">Event Type</div>
    <div class="col-sm-8">{{event.type?.description}}</div>
  </div>
  <div class="row">
    <div class="col-sm-4">Start Location</div>
    <div class="col-sm-8">{{event.startLocation?.description}}</div>
  </div>
  <div class="row">
    <div class="col-sm-4">End Location</div>
    <div class="col-sm-8">{{event.endLocation?.description}}</div>
  </div>
  <div class="row">
    <div class="col-sm-4">Employee ID</div>
    <div class="col-sm-8">{{event.person?.personId}}</div>
  </div>
  <div class="row">
    <div class="col-sm-4">Employee Name</div>
    <div class="col-sm-8">{{event.person?.attr | map: 'names'}}</div>
  </div>
  <div class="row">
    <div class="col-sm-4">UUID</div>
    <div class="col-sm-8">{{event.uuid}}</div>
  </div>
</div>
<div class="modal-footer">
  <button type="submit" class="btn btn-outline-primary" (click)="activeModal.close(false)">Close</button>
</div>
