<div class="mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource" matSort aria-label="Elements">

    <!-- Id Column -->
    <ng-container matColumnDef="assetId">
      <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
      <mat-cell *matCellDef="let asset">{{asset.assetId}}</mat-cell>
    </ng-container>

    <!-- Asset Type Column -->
    <ng-container matColumnDef="type">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Asset Type</mat-header-cell>
      <mat-cell *matCellDef="let asset">{{asset.type.description}}</mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
      <mat-cell *matCellDef="let asset">{{asset.status}}</mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="allocStatus">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Assigned</mat-header-cell>
      <mat-cell *matCellDef="let asset">{{asset.allocStatus}}</mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="options">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Options</mat-header-cell>
      <mat-cell *matCellDef="let asset" class="table_options">
        <img *ngIf="asset.allocStatus === 'allocated' || asset.allocStatus === 'temp-alloc'" (click)="deallocate(asset)" src="./assets/images/DeAssign-Icon-37x37.png" title="Select Asset" alt="Assign" class="sbi8" />
        <img  *ngIf="!(asset.allocStatus === 'allocated' || asset.allocStatus === 'temp-alloc')" (click)="allocate(asset)" src="./assets/images/Assign-Icon-37x37.png" title="Assign" alt="Assign" class="sbi8" />
        <img (click)="viewDetails(asset)" src="./assets/images/View-Details-Icon-37x37.png" title="view details" alt="view details" class="sbi8" />
        <img (click)="modify(asset)" src="./assets/images/Modify-Icon-37x37.png" title="modify" alt="modify" class="sbi8" />
        <img (click)="repairHistory(asset)" src="./assets/images/Repair-Icon-37x37.png" title="repair history" alt="repair history" class="sbi8" />
        <img (click)="allocationHistory(asset)" src="./assets/images/Allocation-Icon-37x37.png" title="allocate history" alt="allocate history" class="sbi8"/>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let asset; columns: displayedColumns;" (dblclick)="selectAsset(asset)"></mat-row>
  </mat-table>

  <mat-paginator #paginator
    [length]="dataSource.data.length"
    [pageIndex]="0"
    [pageSize]="10"
    [pageSizeOptions]="[10, 25, 50, 100, 250]">
  </mat-paginator>
</div>
