<div class="row">
  <div class="col-lg-12">
    <div class="top-menu-block">
      <ul class="nav nav-pills nav-justified">
        <li class="nav-item" routerLinkActive="active" *ngFor="let report of reports">
          <a class="nav-link" [routerLink]="['/reports/'+category + '/' + report.name]" title="{{report.description}}" (click)="selectReport(report)">{{report.title}}</a>
        </li>
      </ul>
    </div>

    <div class="row">
      <div class="col-md-12 cards-section">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>

