<div class="modal-header">
  <h4 class="modal-title">Person Details</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-sm-6"><label>Person ID</label></div>
    <div class="col-sm-6">{{person.personId}}</div>
  </div>

  <div class="row" *ngFor="let attribute of person.type?.attributes | sortBy: 'index'">
    <div class="col-sm-6"><label>{{attribute.description}} </label></div>
    <div class="col-sm-6">{{person.attr | map: attribute.name}}</div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-primary" (click)="activeModal.close('Close click')">Close</button>
</div>
