<div class="{{equipmentState}}">
  <div class="gdi-img"></div>
  <sm-dropdown [assignments]="assignedGdis" [assetTypes]="assetTypes"></sm-dropdown>
  <span class="button__badge" *ngIf="assignedGdis.length > 0">{{assignedGdis?.length}}</span>
  <span>GDI</span>
</div>
