<div class="mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource" matSort aria-label="Elements">

    <!-- Time Column -->
    <ng-container matColumnDef="time">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Time</mat-header-cell>
      <mat-cell *matCellDef="let event">{{event.eventTime | date: 'yyyy-MM-dd HH:mm:ss'}}</mat-cell>
    </ng-container>

    <!-- Type Column -->
    <ng-container matColumnDef="type">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Type</mat-header-cell>
      <mat-cell *matCellDef="let event">{{event.type?.description}}</mat-cell>
    </ng-container>

    <!-- Person ID Column -->
    <ng-container matColumnDef="personId">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Person ID</mat-header-cell>
      <mat-cell *matCellDef="let event">{{event.person?.personId}}</mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
      <mat-cell *matCellDef="let event">{{event.person?.attr | map: 'names'}}</mat-cell>
    </ng-container>

    <!-- Location Column -->
    <ng-container matColumnDef="startLocation">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Start Location</mat-header-cell>
      <mat-cell *matCellDef="let event">{{event.startLocation?.description}}</mat-cell>
    </ng-container>

    <!-- Location Column -->
    <ng-container matColumnDef="endLocation">
      <mat-header-cell *matHeaderCellDef mat-sort-header>End Location</mat-header-cell>
      <mat-cell *matCellDef="let event">{{event.endLocation?.description}}</mat-cell>
    </ng-container>

    <!-- Options Column -->
    <ng-container matColumnDef="options">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Options</mat-header-cell>
      <mat-cell *matCellDef="let event">
        <img (click)="viewDetails(event)" src="./assets/images/View-Details-Icon-37x37.png" title="view details" alt="view details" class="sbi8" />
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator #paginator
    [length]="dataSource.data.length"
    [pageIndex]="0"
    [pageSize]="10"
    [pageSizeOptions]="[10, 25, 50, 100, 250]">
  </mat-paginator>
</div>
