<div class="modal-header">
  <h4 class="modal-title">Available {{assetType}} {{assignmentType}}s</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="table-responsive">
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
           class="dataTable row-border table-hover report-table data_table">
      <thead>
      <tr>
        <th>Asset Type</th>
        <th>Asset ID</th>
        <th>Status</th>
        <th>Options</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let asset of assets">
        <td>{{asset.type?.description}}</td>
        <td>{{asset.assetId}}</td>
        <td>{{asset.status}}</td>
        <td>
          <div class="table_options">
            <img (click)="allocate(asset)" src="./assets/images/DeAssign-Icon-37x37.png" title="Allocate" alt="Assign" class="sbi8" />
            <img (click)="viewDetails(asset)" src="./assets/images/View-Details-Icon-37x37.png" title="View details" alt="view details" class="sbi8" />
            <img (click)="modify(asset)" src="./assets/images/Modify-Icon-37x37.png" title="modify" alt="Modify" class="sbi8" />
            <img (click)="repairHistory(assignment.asset)" src="./assets/images/Repair-Icon-37x37.png" title="Repair history" alt="repair history" class="sbi8" />
            <img (click)="allocationHistory(assignment.asset)" src="./assets/images/Allocation-Icon-37x37.png" title="Allocation history" alt="allocate history" class="sbi8" ng-click="vm.confirmPopup()" />
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="modal-footer">
  <button type="submit" class="btn btn-outline-primary" (click)="activeModal.close(false)">Close</button>
</div>
