.color-block {
  border-left: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
  display: table;
  height: inherit;
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.color-block div {
  border-radius: 50px;
  display: inline-block;
  height: 20px;
  margin: 5px 5px;
  width: 20px;
  border: solid 1px #fff;

}

.color-blue {
  background: #0c4d98;
}

.color-green {
  background: #079247;
}

.color-red {
  background: #ed2224;
}

.color-orange {
  background: #f15c27;
}
