<div class="modal-header">
  <h4 class="modal-title">Person Search </h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="card-container">
    <div class="card card-primary search-person-card nmb nbb nbc">
      <div class="card-heading">
        <h3 class="card-title">
          <div class="advanced_indicator" [hidden]="advancedView">
            <img src="./assets/images/advanced_icon.png" (click)="toggleSimpleAdvanced()" style="cursor: pointer">
          </div>
          <div class="advanced_indicator" [hidden]="simpleView">
            <img src="./assets/images/normal_icon.png" (click)="toggleSimpleAdvanced()" style="cursor: pointer">
          </div>
          <img src="./assets/images/si8.png" class="card_top_icon">
          <!--<div class="si8"></div>-->
          Search Person
        </h3>
      </div>
      <div class="card-body">
        <form [formGroup]="searchPersonForm" (submit)="searchPerson(searchPersonForm.value)" class="form-horizontal">
          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-4 field-label-responsive">
                  <label for="name">Name</label>
                </div>
                <div class="col-md-8">
                  <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                      <input type="text" name="name" class="form-control" id="name"
                             placeholder="Surname and Initials" formControlName="name" required autofocus>
                    </div>
                  </div>
                </div>

                <div class="col-md-4 field-label-responsive">
                  <label for="companyNo">Company No</label>
                </div>
                <div class="col-md-8">
                  <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                      <input type="text" class="form-control" id="companyNo"
                             placeholder="Company / Employee Number" formControlName="companyNo">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6" [hidden]="simpleView">
              <div class="row">
                <div class="col-md-4 field-label-responsive">
                  <label for="personType">Person Type</label>
                </div>
                <div class="col-md-8">
                  <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                      <select class="form-control" id="personType" formControlName="personType">
                        <option value="" [selected]="true">[Please Select]</option>
                        <option *ngFor="let ptype of personTypes | async" [value]="ptype.name">{{ptype.description}}</option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="col-md-4 field-label-responsive">
                  <label for="idNo">Identity No</label>
                </div>
                <div class="col-md-8">
                  <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                      <input type="text" name="name" class="form-control" id="idNo"
                             placeholder="Identity / Passport No." formControlName="identityNo">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Search</button>
        </form>
      </div>
    </div>

    <div class="card card-primary custom-card ntc">
      <div class="card-heading">
        <h3 class="card-title">
          <img src="./assets/images/si8.png" class="card_top_icon">
          Person Search Results
        </h3>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <div class="mat-elevation-z8">
            <mat-table #table [dataSource]="dataSource" matSort aria-label="Elements">

              <!-- Id Column -->
              <ng-container matColumnDef="personId">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Person ID</mat-header-cell>
                <mat-cell *matCellDef="let row">{{row.personId}}</mat-cell>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="names">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
                <mat-cell *matCellDef="let row">{{row.attr | map: 'names'}}</mat-cell>
              </ng-container>

              <!-- Shaft Column -->
              <ng-container matColumnDef="shaft">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Shaft</mat-header-cell>
                <mat-cell *matCellDef="let row">{{row.attr | map: 'site-name'}}</mat-cell>
              </ng-container>

              <!-- Shift Column -->
              <ng-container matColumnDef="shift">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Shift</mat-header-cell>
                <mat-cell *matCellDef="let row">{{row.attr | map: 'shift'}}</mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectPerson(row)"></mat-row>
            </mat-table>

            <mat-paginator #paginator
                           [length]="dataSource.data.length"
                           [pageIndex]="0"
                           [pageSize]="10"
                           [pageSizeOptions]="[10, 25, 50, 100, 200]">
            </mat-paginator>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="submit" class="btn btn-success">Search</button>
</div>
