<div class="clearfix">
  <div class="col-lg-12">
    <div class="card custom-card card-primary">
      <div class="card-heading report-tabs">
        <ul class="nav nav-pills">
          <li class="active"><a href="#">Repair History</a></li>
        </ul>
      </div>
      <span class="header-date pull-right">USER 7:00 03.03.2016</span>
      <div class="card-top-button">
        <button class="btn btn-default">
          <img src="./assets/images/sai3.png" class="sai3">
        </button>
        <button class="btn btn-default">
          <img src="./assets/images/sai4.png" class="sai4">
        </button>
      </div>
      <div class="card-body">
        <ul class="list-inline">
          <li><strong>Repair History Report</strong></li>
          <li><strong>Organisation:</strong> Shaft Name</li>
          <li><strong>Date (Period) From:</strong> 06:00 02.03.2016</li>
          <li><strong>To:</strong> 06:00 03.03.2016</li>
        </ul>

        <hr class="dark">

        <ul class="list-inline">
          <li><strong>Surname & initial:</strong>000000</li>
          <li><strong>Person ID::</strong> 000000</li>
          <li><strong>Equipement ID:</strong> 000000</li>
          <li><strong>Serial No:</strong> 000000</li>
          <li><strong>Asset Type:</strong> 000000</li>
        </ul>

        <table class="table-bordered report-table" style="width:100%">
          <tbody><tr class="first-row">
            <th>Bin Code</th>
            <th>Component name</th>
            <th>Quantity</th>
            <th>Cost of Component</th>
            <th>Recent Replacement</th>
            <th>Event</th>
            <th>Attribute Value Changed</th>
            <th>Atrribute</th>
            <th>Change Value</th>
          </tr>
          <tr>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
          </tr>
          <tr class="last-row">
            <td>
              000000000000
            </td>
            <td>
              000000000000
            </td>
            <td>
              000000000000
            </td>
            <td>
              000000000000
            </td>
            <td>
              Y/N
            </td>
            <td>
              3 months
            </td>
            <td>
              Y/N
            </td>
            <td>
              UHF2
            </td>
            <td>
              0501xxxx
            </td>
          </tr>
          </tbody></table>

        <div class="remark">Remark will run as a single line beneath all fiels between each result</div>

        <ul class="list-inline">
          <li><strong>Status after repair: Operational</strong></li>
        </ul>

        <hr class="dark">


        <ul class="list-inline">
          <li><strong>Surname & initial:</strong>000000</li>
          <li><strong>Person ID::</strong> 000000</li>
          <li><strong>Equipement ID:</strong> 000000</li>
          <li><strong>Serial No:</strong> 000000</li>
          <li><strong>Asset Type:</strong> 000000</li>
        </ul>

        <table class="table-bordered report-table" style="width:100%">
          <tbody><tr class="first-row">
            <th>Bin Code</th>
            <th>Component name</th>
            <th>Quantity</th>
            <th>Cost of Component</th>
            <th>Recent Replacement</th>
            <th>Event</th>
            <th>Attribute Value Changed</th>
            <th>Atrribute</th>
            <th>Change Value</th>
          </tr>
          <tr>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
          </tr>
          <tr class="last-row">
            <td>
              000000000000
            </td>
            <td>
              000000000000
            </td>
            <td>
              000000000000
            </td>
            <td>
              000000000000
            </td>
            <td>
              Y/N
            </td>
            <td>
              3 months
            </td>
            <td>
              Y/N
            </td>
            <td>
              UHF2
            </td>
            <td>
              0501xxxx
            </td>
          </tr>
          </tbody></table>

        <div class="remark">Remark will run as a single line beneath all fiels between each result</div>

        <ul class="list-inline">
          <li><strong>Status after repair: Operational</strong></li>
        </ul>


      </div>
    </div>
  </div>
</div>
