/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
@import "~ngx-toastr/toastr.css";
@import "~datatables.net-bs4/css/dataTables.bootstrap4.css";
@import "~datatables.net-buttons-dt/css/buttons.dataTables.css";
@import "assets/css/main.css";
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
  padding-top: 80px;
  background: #e2e6e7;
  -webkit-font-smoothing: antialiased;
}

label.required:after {
  color: #d00;
  content: "*";
  position: absolute;
  margin-left: 5px;
  top:1px;
}

table tr.total-row{
  border-bottom: double;
  border-top: solid 1px;
  cursor: pointer;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.red_text {
  color: #eb212e;
}

.secondary_attributes {
  font-size: 11px;
  font-weight: normal;
}

.secondary-field {
  height: 20px !important;
  margin-bottom: 0;
}

.secondary_fields_wrap {
}

.secondary_fields_wrap label {
  font-size: 11px;
  font-weight: normal;
}

.secondary_fields_wrap .form-control {
  height: 20px !important;
  margin-bottom: 0;
}

.move_assets_down {
  position: relative;
  height: 50px;
}

.move_assets_down .line {
  height: 5px;
  background-color: #004B99;
  opacity: 0.3;
  margin-top: 30px;
}

.move_assets_down .circle {
  top: -25px;
  text-align: center;
  position: absolute;
  border: solid 3px #1F2D45;
  width: 55px;
  height: 55px;
  border-radius: 100px;
  color: #fff;
}

.move_assets_down .circle:hover {
  background-color: #000;
  cursor: pointer;
}

.move_assets_down .circle span {
  font-size: 27px;
  margin-top: 10px;
}

.move_assets_down .circle.up {
  right: 26%;
  background-color: #FF0000;
}

.move_assets_down .circle.down {
  right: 46%;
  background-color: #8CC63F;
}

.components_buttons {
  padding: 0 15px;
}

.components_buttons .btn { /*padding: 0px 20px;*/
  margin-bottom: 15px;
  text-align: left;
  line-height: 29px;
  padding: 3px 10px;
}

.components_buttons .return_up_button {
  border: solid 3px #000;
  background-color: #eb252e;
  width: 25px;
  height: 25px;
  color: #fff;
  float: right;
  text-align: center;
  border-radius: 90px;
  margin-top: 2px;
}

.list-group-content {
  color: #333;
  padding: 15px;
  margin: 0 -20px;
/*  margin-top: 10px;
  margin-bottom: -10px;*/
  background-color: #fff;
  display: none;
}

.property_wrap .row {
  position: relative;
}

.property_wrap .row .mid_line {
  background-color: #e1e1e1;
  width: 3px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -3px;
  bottom: 0;
}

.property_wrap .options_wrap {
  margin-bottom: 30px;
  padding: 0 50px;
}

.property_wrap .table_wrap {
  border: solid 1px #e1e1e1;
  margin: 0 50px;
}

.property_wrap .table_content {
  padding: 0 20px;
}

.property_wrap .table_content .col-sm-3, .property_wrap .table_content .col-sm-4 {
  border-right: solid 1px #e1e1e1;
  height: 40px;
}

.inactive_active_box {
}

.inactive_active_box.inactive .entry_box .btn {
  background-color: #14924b;
}

.inactive_active_box.inactive .entry_box .title {
  background-color: #14924b;
}

.inactive_active_box .entry_box {
  height: 50px;
}

.inactive_active_box .entry_box .title {
  font-size: 14px;
  height: 35px;
  border-radius: 5px;
  background-color: #29abdf;
  color: #fff;
  padding: 5px;
  width: 83%;
}

.inactive_active_box .entry_box .btn {
  height: 35px;
  border-radius: 5px;
  background-color: #29abdf;
  color: #fff;
  padding: 5px;
  width: 15%;
}

.inactive_active_box .entry_box .btn:hover {
  opacity: 0.8;
}

.inactive_active_box .entry_box .btn img {
  margin-top: -3px;
}

/*===============================================================================*/
/*====================================== DATA TABLES ============================*/
/*===============================================================================*/
.dataTables_wrapper {
  padding-top: 0 !important;
}

.dataTables_filter input[type=search] {
  height: 11px;
}

/*===============================================================================*/
/*====================================== LOGIN IN ===============================*/
/*===============================================================================*/

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin .checkbox {
  font-weight: normal;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control {
  width: 100%;
}

.form-signin button {
  border-radius: 0;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/*====================================== TYPOGRAPHY ===============================*/
/*===============================================================================*/

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

button:focus {
  outline: none !important;
}

/*====================================== HEADER ===============================*/
/*===============================================================================*/
.admin-card-container .admin-header {
  height: 50px;
  background: #202d45;
  color: #FFFFFF;
  line-height: 50px;
}

.admin-card-container {
  background: #e2e6e7;
}

.admin-header .icon-logo {
  display: inline-block;
  vertical-align: middle;
  font-size: 34px;
}

.admin-header .logo-name {
  display: inline-block;
  font-size: 12px;
  line-height: 15px;
  vertical-align: middle;
}

.version-details {
  border-left: 1px solid #FFFFFF;
}

.version-details span {
  display: block;
  font-size: 10px;
  line-height: 14px;
  margin-left: 5px;
}

.details-block {
  padding: 4px 0;
}

.title-block {
  position: relative;
  text-align: center;
  height: 50px;
}

.title-block h2 {
  text-transform: uppercase;
  margin: 0;
}

/*.title-block h2 span.show_drop_down{ display: block; }*/

.title-block h2 span.glyphicon {
  cursor: pointer;
  padding-top: 10px;
  float: right;
}

.title-block h2 img {
  float: right;
  width: 18px;
  margin-left: 10px;
  margin-top: 13px;
}

.title-block h2 img.sbi4 {
  margin-top: 11px;
}

.color-block {
  border-left: 2px solid #ffffff;
  display: table;
  height: inherit;
  padding: 2px;
}

.color-block div {
  border-radius: 50px;
  display: inline-block;
  height: 20px;
  margin: 13px 5px;
  width: 20px;
  border: solid 1px #fff;
}

.color-block .main_icon{
  float: left;
  width: 13px;
  margin-left: 3px;
  margin-top: 3px;
}
.color-blue {
  background: #0c4d98;
}

.color-green {
  background: #079247;
  position: relative;
}

.color-red {
  background: #ed2224;
  position: relative;
}

.color-orange {
  background: #f15c27;
}

.name-block {
  background: #343333;
  height: 50px;
}

.name-block a {
  color: #fff;
}

.name-block .admin-name, .name-block button {
  display: inline-block;
}

.name-block button {
  width: 35px;
  height: 35px;
  padding: 0;
/*  margin: 0;*/
  margin-top: 7px;
  float: right;
  border: none;
  background-color: transparent;
}

.name-block button img {
  width: 25px;
}

.name-block button span {
  font-size: 25px;
}

.name-block button span:before {
  margin-left: 0;
  left: 0;
}

.logout-block .btn {
  background: transparent;
  border: none;
  margin: 6px 0;
  float: right;
  padding: 5px 0;
}

@media (max-width: 1200px) {
  .color-block div {
    margin: 13px 5px;
  }
}

/*===============================================================================*/
/*==================================+= Drop Down Menu ===========================*/
/*===============================================================================*/
#top_drop_down {
  background: #111f24;
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  z-index: 5;
  border-top: solid 1px #ccc;
}

#top_drop_down li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#top_drop_down li a {
  font-size: 18px;
  color: #fff;
  display: block;
  border-bottom: solid 1px #0c4d98;
  text-transform: uppercase;
}

#top_drop_down ul {
  margin: 0;
  padding: 0 50px;
}

#top_drop_down ul.main_m {
  display: none;
}

#top_drop_down ul ul {
  display: none;
  border-bottom: solid 1px #0c4d98;
}

#top_drop_down ul ul li a {
  color: #0c4d98;
  border: none;
}

/*===============================================================================*/
/*====================================== TOP MENU ===============================*/
/*===============================================================================*/

.top-menu-block {
  padding-left: 0;
  padding-right: 0;
}

.top-menu-block .main_title {
  background: #343333;
  padding: 20px;
  color: #fff;
}

.top-menu-block ul.nav li a {
  background: #343333;
  color: #FFFFFF;
  border-radius: 0;
  text-transform: uppercase;
  padding: 6px 15px;
  font-weight: 500;
}

.top-menu-block ul.nav li {
  border-right: 2px solid #FFFFFF;
  min-width: 120px;
  background: #343333;
}

.top-menu-block ul.nav li:last-child {
  border-right: none;
}

.top-menu-block ul:first-child {
  border-bottom: 2px solid #FFFFFF;
}

.top-menu-block ul:last-child {
  margin-top: 0;
}

.top-menu-block ul.nav li a:hover {
  /*opacity: 0.75;*/
  background: #202d45;
}

.top-menu-block ul.nav li a.active {
  background-color: #2e3d5e;
}

/*===============================================================================*/
/*====================================== LEFT MUNEU ===============================*/
/*===============================================================================*/

.admin-card-container .left-menu {
  height: 100%;
  background: #111f24;
  color: #FFFFFF;
  width: 5%;
}

.left-menu ul {
  margin-top: 50px;
  padding: 0;
  list-style: none;
}

.left-menu ul li {
  margin: 30px 0;
  text-align: center;
}

.left-menu ul li a {
  color: #FFFFFF;
}

.left-menu ul li span {
  font-size: 25px;
}

.left-menu ul li span:before {
  margin: 0;
}

/*===============================================================================*/
/*====================================== CARDS ===============================*/
/*===============================================================================*/

.cards-section {
  padding: 20px;
}

.card-container {
  border-radius: 3px;
  background: transparent;
}

.card {
  border: solid 9px #b4c8e0;
  margin-bottom: 15px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: none;
}

.blue_title {
  background-color: #2e3b5f;
  color: #fff;
  padding: 5px;
  font-weight: 500;
  font-size: 15px;
  text-transform: uppercase;
}

.blue_title.light_blue {
  background-color: #29abdf;
}

.card.nbb {
  border-bottom: none;
}

.card.tlc {
  border-radius: 4px 0 0 0;
}

.card.nbc {
  border-radius: 4px 4px 0 0;
}

.card.ntc {
  border-radius: 0 0 4px 4px;
}

.card_indicator {
  margin-top: 12px;
  float: right;
  font-size: 16px;
}

.advanced_indicator {
  margin-top: 8px;
  float: right;
  font-size: 16px;
  background-color: #0071ba;
  text-align: center;
  border-radius: 100px;
  height: 23px;
  width: 23px;
  border: solid 1px #fff;
  margin-right: 10px;
}

.advanced_indicator:hover {
  border: solid 1px #ccc;
}

.advanced_indicator img {
  max-width: 100%;
  vertical-align: top;
}

.card.light_blue {
  border-color: #94dbfa;
}

.card.light_blue .card-heading {
  background-color: #33ace0;
}

.card.green {
}

.card.green .card-heading {
  background-color: #199149;
}

.heading-green {
  color: #0ea04f;
}

.card .card-title {
  margin: 0;
  font-weight: 600;
  font-size: 12px;
}

.card .card-heading {
  border-radius: 0;
  background-color: #2e3b5f;
  color: #fff;
  text-transform: uppercase;
  border: none;
}

.card-heading .card-title {
  margin: 0;
  line-height: 11px;
  padding: 15px;
  text-transform: uppercase;
}

.card-heading .card-title .close {
  float: right;
  color: #fff;
  font-size: 24px;
}

.card-body {
  font-size: 12px;
  padding: 15px;
}

.card .header-date {
  color: #fff;
  /*margin-top: -32px;*/
  padding: 5px 15px;
  margin-right: 15px;
}

.card_top_icon {
  margin-right: 5px;
  width: 23px;
  display: inline-block;
  margin-top: -5px;
}

.right-card-block .card {
  border: none;
}

.right-card-block .card-heading {
  border: none;
}

.card-container .card-heading {
  color: white;
  height: 40px;
  background-color: #2E3C5F;
}

.card .card-heading .card-title {
  margin: 0;
  line-height: 40px;
  padding: 0 15px;
  text-transform: uppercase;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.card-container .card-heading .card-title .card-title-small {
  font-size: 65%;
  letter-spacing: 0;
  font-weight: 300;
}

.card-container .card-heading .card-title .card-title-big {
  font-size: 80%;
  letter-spacing: 0;
  font-weight: 600;
  margin-left: 20px;
}

.card-container .card-heading .card-title button.card-add {
  margin: 5px 0;
  background: transparent;
  padding: 0;
  color: #fff;
}

.card-container .card-heading .card-title select {
  color: #202d45;
  margin: 5px 0;
  min-height: 30px;
  border-radius: 4px;
  width: 70%;
}

.card-container .card-heading .card-title button.card-add span:before {
  font-size: 30px;
  margin: 0;
}

.card-container .card-body {
  background: #FFFFFF;
  padding: 10px;
}

.main-atributes {
  margin-top: 20px;
}

.main-atributes .card-heading {
  position: relative;
}

.main-atributes .card-heading .card-title {
  display: inline-block;
  line-height: 8px !important;
  margin: 8px 0 !important;
  font-size: 14px;
  min-height: 50%;
}

.main-atributes .card-heading .card-title span {
  display: block;
}

.main-atributes .card-heading .attr-right-icons {
  position: absolute;
  display: inline-block;
  right: 0;
  top: 6px;
}

.main-atributes .card-heading .attr-right-icons button {
  background: transparent;
  border: none;
  padding: 0;
  margin: 0 10px;
}

.main-atributes .card-heading .attr-right-icons button span:before {
  font-size: 30px;
  margin: 0;
}

.main-atributes .active-inactive h4 {
  margin-bottom: 0;
}

.main-atributes .active-inactive {
  width: 95%;
  margin: auto;
}

.active-inactive .col-lg-6:last-child {
  border-left: 2px solid #e4e4e4;
  min-height: 160px;
}

.active-inactive .active-list button.attribute-item {
  color: #FFFFFF;
  width: 75%;
  display: inline-block;
  margin: 5px 0;
  height: 30px;
  line-height: 16px;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.active-inactive .active-list a.to-inactive, .active-inactive .active-list a.to-active {
  color: #FFFFFF;
  min-width: 19%;
  display: inline-block;
  margin: 5px 0;
  height: 30px;
  line-height: 16px;
  text-align: left;
  padding-left: 5px;
  padding-right: 5px;
}

.active-inactive .btn-blue {
  background: #2baae2 !important;
}

.active-inactive .btn-dark-blue {
  background: #0b72ba;
}

.active-inactive .btn-green {
  background: #079247;

}

.card-container .card-heading {
  /*background: #2f3d5f;*/
  color: white;
  height: 40px;
}

.editing-card {
  margin: 10px 15px;
  border: 2px solid #e4e4e4;
}

.editing-card .card-heading {
  height: 25px;
  background: #2baae2;
  padding: 5px 10px;
  line-height: 14px;
}

.editing-card .card-body {
  padding: 10px 0;
}

.editing-card .card-body table {
  font-size: 12px;
  line-height: 20px;
}

.editing-card .card-body table tr th {
  min-width: 90px;
  text-align: left;
}

.editing-card .card-body table tr td {
  padding: 5px 0;
}

.editing-card .card-body table tr td input {
  max-width: 90px;
}

.editing-card .card-body table tr td button, .btn-update {
  text-transform: uppercase;
  color: #FFFFFF;
  height: 26px;
  line-height: 14px;
  font-size: 12px;
}

.btn-update {
  float: right;
  margin-right: 15px;
}

.dashboard-card .card-body .list-group {
  padding: 0;
  list-style: none;
  margin: 0;
}

.dashboard-card .card-body .list-group .item-col {
  padding-left: 0;
}

.dashboard-card .card-body .list-group .select-col select {
  border-radius: 4px;
  width: 74%;
  min-height: 25px;
  color: #202d45;
}

.dashboard-card .card-body .list-group .list-group-item {
  background: #2f3d5f;
  color: #FFFFFF;
  min-height: 35px;
  padding: 5px 10px;
  line-height: 25px;
  font-size: 14px;
  border-bottom: 1px solid #fff;
}

.dashboard-card .card-body .list-group .list-group-item .icon-item-list:before {
  font-size: 20px;
  vertical-align: middle;
  margin: 0;
}

.dashboard-card .card-body .list-group .list-group-item .icon-item-list {
  margin-right: 10px;
}

/*===============================================================================*/
/*====================================== SEARCH BLOCK ===========================*/
/*===============================================================================*/

.search-block {
  padding: 0;
  margin-top: 14px;
  background: #111f24;
  width: 12%;
}

.search-block .btn {
  background: transparent;
  color: #FFFFFF;
  padding: 0;
  height: 30px;
  width: 100%;
}

.search-block .btn span:before {
  font-size: 20px;
  vertical-align: middle;
  margin: 0;
}

.search-block .grey-block {
  height: 220px;
  background: #4e4e4e;
}

.search-block .blue-block {
  height: 100%;
  background: #202d45;
}

/*===============================================================================*/
/*====================================== RIGHT PANELS ===========================*/
/*===============================================================================*/

.right-card-block {
  padding-left: 0;
}

.right-cards .right-card-block .card-heading {
  background: #004b99;
  color: #FFFFFF;
  padding: 0 0;
}

.right-cards .right-card-block .card-heading .card-title {
  padding: 6px 10px;
  margin-bottom: 0;
}

.right-cards .right-card-block .card-heading .card-title table {
  width: 100%;
  color: #FFFFFF;
  margin: 0;
  text-transform: none;
  font-size: 12px;
  font-weight: 500;
}

.right-card-block .card-primary .card-body .table thead {
  background: #004b99;
  color: #fff;
  font-weight: 500;
}

.right-cards .right-card-block .card-heading .card-title table tr td.td-dropdown {
  text-align: right;
  font-size: 18px;
}

.right-cards .right-card-block .card-body table {
  width: 100%;
  font-size: 12px;
  line-height: 26px;
  margin-bottom: 0;
}

.right-cards .right-card-block .card-body table tr td a {
  color: #333;
}

.right-cards .right-card-block .card-body {
  background: #f2f2f2;
  /*padding: 10px;*/
  color: #4d4d4d;
}

/*===============================================================================*/
/*====================================== USERS SECTION ===========================*/
/*===============================================================================*/

.user-list {
  height: 150px;
  overflow-y: auto;
}

div[data-angular-treeview] {
  /* prevent user selection */
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  /* default */
/*  font-family: Tahoma;*/
  font-size: 13px;
  color: #555;
  text-decoration: none;
}

div[data-tree-model] ul {
  margin: 0;
  padding: 0;
  list-style: none;
  border: none;
  overflow: hidden;
}

div[data-tree-model] li {
  position: relative;
  padding: 0 0 0 20px;
  line-height: 20px;
}

div[data-tree-model] li .expanded {
  padding: 1px 10px;
  background: url("http://cfile23.uf.tistory.com/image/205B973A50C13F4B19D9BD") no-repeat;
}

div[data-tree-model] li .collapsed {
  padding: 1px 10px;
  background: url("http://cfile23.uf.tistory.com/image/1459193A50C13F4B1B05FB") no-repeat;
}

div[data-tree-model] li .normal {
  padding: 1px 10px;
  background: url("http://cfile23.uf.tistory.com/image/165B663A50C13F4B196CCA") no-repeat;
}

div[data-tree-model] li i, div[data-tree-model] li span {
  cursor: pointer;
}

div[data-tree-model] li .selected {
  background-color: #aaddff;
  font-weight: bold;
  padding: 1px 5px;
}

.rotate-45 {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

/*============================================*/
/*=========== MODALS ==============*/
/*============================================*/
.modal-content {
  border-radius: 0
}

.modal-header {
  margin: 0;
  background: #2f3d5f;
}

.modal-header.blue {
  background: #29abdf;
}

.modal-header button {
  margin: 5px 0;
  background: transparent;
  padding: 0;
  color: #fff;
  position: absolute;
  right: 15px;
  top: 14px;
  border: none;
/*  margin-top: 9px;*/
}

.modal-header button span {
  font-size: 25px;
}

.newUserModal, .deleteContactModal {
  padding-top: 0;
  padding-left: 50px;
  padding-right: 50px;

}

.deleteContactModal p {
  font-size: 18px;
  color: #9b9b9b;
}

.modal-title {
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  /*padding-bottom: 15px;*/
}

.modal-content {
  border: none;
  /*padding: 10px;*/
  background-color: rgba(46, 61, 94, 0.5);
}

.modal-body {
  background-color: #fff;
}

.modal-footer {
  background-color: #fff;
}

.modal-footer .btn {
  min-width: 100px;
  text-transform: uppercase;
  border-radius: 0;
  font-weight: bold;
}

.esc-block .modal-footer {
  padding: 20px 0 0 0;
}

.newUserModal input {
  min-height: 45px;
  color: #9b9b9b;
  border: 1px solid #e1e1e1;
  margin: 14px 0;
  padding-left: 10px;
  width: 100%;
}

.newUserModal input:focus {
  outline: none;
  box-shadow: none;
}

.add-image .btn-add-img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  right: -6px;
}

.add-image .btn-add-img:focus {
  outline: none;
}

.newUserModal .modal-action {
  margin-top: 10px;
  margin-bottom: 30px;
  text-align: right;
}

.deleteContactModal .modal-action {
  margin: 30px 0;
}

.newUserModal .modal-action button, .deleteContactModal .modal-action button {
  min-width: 150px;
  min-height: 40px;
  background: transparent;
}

.newUserModal .modal-action button.btn-save, .deleteContactModal .modal-action button.btn-delete {
  border: 1px solid #17b1c2;
  margin-left: 20px;
  color: #142a37;
  background: #16a8b9;
}

.newUserModal .modal-action button.btn-cancel, .deleteContactModal .modal-action button.btn-cancel {
  color: #9b9b9b;
  border: 1px solid #9b9b9b;
}

/*===============================================================================*/
/*===================================== LAMPSMAN SEARCH DASHBOARD ===============================*/
/*===============================================================================*/
.miner-body {
}

.miner-body ul li {
  position: relative;
}

.miner-body ul li:hover ul {
  display: block;
}

.miner-body ul li ul {
  left: 90%;
  top: 0;
}

.miner-body {
  min-height: 300px;
  background-size: contain;
  background: no-repeat top center;
  position: relative;
  margin-bottom: 0;
}

.miner-body .clear_search {
  position: absolute;
  bottom: 10%;
  left: 5%;
  /*color: #33aade;*/
  font-weight: bold;
  border: solid 2px #e4e4e4;
  padding: 4px 13px;
  width: auto;
  border-radius: 2px;
  color: #fff;
  height: auto;
  font-size: 12px;
}

.miner_status {
  font-size: 12px;
  padding-top: 10px;
  text-align: center;
  border-top: solid 1px #B3B3B3;
  background-color: #fff;
  margin-top: 10px;
}

.miner-body .miner_body_bkg {
  width: 100%;
  height: auto;
}

.miner-body .main_icon {
  display: none;
}

.miner-body .plus_icon {
  display: none;
}

.miner-body .assigned .btn { /*blue - search */
  background-color: #009245; /*4c99cf*/
}

.miner-body .assigned .main_icon {
  display: inline-block;
}

.miner-body .unassigned .btn { /*blue*/
  background-color: #1073b7;
}

.miner-body .unassigned .plus_icon {
  display: inline-block;
}

.miner-body .failed .btn {
  background-color: #ef5b30;
}

.miner-body .failed .main_icon {
  display: inline-block;
}

.miner-body .rules .btn {
  background-color: #fc0d1b;
}

.miner-body .rules .main_icon {
  display: inline-block;
}

.miner-body .misc {
  position: absolute;
  left: 6%;
  top: 7%;
}

.miner-body .pds {
  position: absolute;
  left: 6%;
  top: 20%;
}

.miner-body .cap-lamp {
  position: absolute;
  left: 61%;
  top: 6%;
}

.miner-body .gdi {
  position: absolute;
  left: 51%;
  top: 65%;
}

.miner-body .rescue-pack {
  position: absolute;
  left: 6%;
  top: 65%;
}

.miner-body button {
  background: #4898D1;
  border-radius: 50%;
  border: 2px solid #1F2D45;
  width: 40px;
  height: 40px;
  /*border: 2px solid #333;*/
  padding: 0;
}

.miner-body button span:before {
  font-size: 28px;
  margin: 0;
  color: #FFFFFF;
}

.miner-body span {
  color: #202d45;
  font-size: 14px;
  font-weight: normal;

}

.miner-body span.icon-search {
  margin-left: -4px;
}

.miner-body img {
  width: 23px;
}

.miner-body button, .miner-body span, .miner-body div {
  display: inline-block;
  vertical-align: middle;
}

.miner-body .rescue-pack .rescue-img {
  background-size: contain;
  background-image: url('./assets/images/rescue-pac-img.png');
  background-repeat: no-repeat;
  background-position: top center;
  height: 53px;
  width: 65px;
}

.miner-body .gdi .gdi-img {
  background-size: contain;
  background-image: url('./assets/images/gdi-img.png');
  background-position: top center;
  background-repeat: no-repeat;
  height: 53px;
  width: 65px;
}

.expiry-block {
  padding: 10px;
  background: #b4c8e0;
}

.expiry-block .top-block {
  min-height: 100px;
  background: #333333;
  /*border-top: 2px solid #4898D1;*/
  border-bottom: 2px solid #4898D1;
}

.expiry-list {
  background: #FFFFFF;
  padding: 5px;
  height: auto;
}

.expiry-list li a {
  color: #333;
  font-size: 12px;
}

.expiry-list li img {
  width: 25px;
}

.add-extras .extras-list ul {
  padding-left: 10px !important;
  margin: 0;
  list-style: none;

}

.add-extras .extras-list ul li:first-child {
  margin-top: 0 !important;
}

.add-extras .extras-list ul li button {
  background: transparent;
  border: none;
  padding: 0;
}

.add-extras .extras-list ul li button img {
  max-width: 30px;
  height: auto;
  margin: 0 10px;
}

.expiry-block .expiry-list ul, .add-extras .extras-list ul {
  padding: 0;
  margin: 0;
  list-style: none;

}

.expiry-block .expiry-list ul li, .add-extras .extras-list ul li {
  margin: 10px 0
}

.expiry-block .expiry-list ul li span.glyphicon,
.expiry-block .expiry-list ul li span.label,
.add-extras .extras-list ul li span.glyphicon,
.add-extras .extras-list ul li span.label {

  display: inline-block;
  vertical-align: middle;
}

.expiry-block .expiry-list ul li span.label,
.add-extras .extras-list ul li span.label {
  font-size: smaller;
}

.add-extras .extras-list ul li span.glyphicon:before {
  font-size: 30px;
  color: #4898D1;
}

.extra-selected:before {
  color: #b3b3b3 !important;
}

.extra-selected-preview:before {
  color: #4898D1 !important;
}

.expiry-block .expiry-list ul li span.glyphicon:before {
  font-size: 20px;
  color: #b3b3b3;
}

.custom-card .card-body .container-fluid{
  padding: 0;
}
.custom-card table {
  width: 100%;
}

.custom-card table tr td {
  font-size: 10px;
  padding: 5px 4px 2px;
}

.custom-card table.font12 tr td {
  font-size: 12px;
}

.custom-card table tr.table-heading, .custom-card table thead {
  font-weight: 600;
}

.custom-card table tr td input[type=text] {
  /*width: 80%;*/
}

.custom-card table tr td input.full {
  width: 100%;
  padding: 6px;
}

.custom-card table tr td input.normal {
  width: 100%;
  padding: 6px;
}

.custom-card table tr td button {
  border-radius: 0;
  color: #FFFFFF;
  float: right;
  text-transform: uppercase;
}

.custom-card table tr td input, .custom-card table tr td select {
  min-height: 25px;
  min-width: 15px;
}

.esc-block {
  margin-top: 10px;
}

.inner-card {
  margin-top: 10px;
}

.sub-card .card-heading {
  height: 30px;
  padding: 5px 10px;
}

.sub-card .card-body p {
  font-weight: 600;
  font-size: 10px;
}

.sub-card .card-body select {
  min-width: 100%;
}

.sub-card .card-body button {
  margin-top: 10px;
  background: #0071ba;
  border: none;
  font-size: 12px;
  line-height: 16px;
  border-radius: 0;
  color: #FFFFFF;
  min-width: 120px;
  min-height: 30px;
  text-transform: uppercase;
}

/*===================================================*/
/*============== LAMPSMAN Person info and equipment ==========*/
/*===================================================*/

.person-info-card {
  position: relative;
}

.assigned-equipment-card {
  position: relative;
}

.info-equip-block {

}

.grey-bordered {

}

.person-photo{
  width: 100%;
  height: auto;
}

.person-name {
  background-color: #ffffff;
  padding: 5px 5px;
  display: flex;
  flex-direction: column;
  border-bottom: black 1px solid;
}

.card-top-button .btn-default:hover {
  background-color: #0f1626;
}

.card-top-button {
  position: absolute;
  right: 10px;
  top: -20px;
}

.card-top-button button {
  padding: 0;
  height: 25px;
  width: 25px;
  border-radius: 2px;
  color: #FFFFFF;
  background: #2f3d5f;
  border: none;
}

.card-right-button {
  margin-top: 10px;
  padding-right: 10px;
}

.card-top-button button img {
  width: 15px;
}

.card-right-button .button-icon {
  padding: 0;
  background: #0071ba;
  color: #fff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.card-right-button .button-icon span {
  top: 0;
}

.card-right-button .button-icon span:before {
  margin: 0;
  font-size: 13px;
  width: inherit;
}

.card-right-button .button-icon.green {
  background-color: #009245;
  border-color: #fff;
}

.card-right-button .icons_separator {
  height: 19px;
  border-left: solid 1px #fff;
  margin: 0 3px;
  display: inline-block;
  vertical-align: middle;
}

.card-right-button .button-icon img {
  width: 16px;
  vertical-align: baseline;
}

.row-highlight td {
  color: #009245;
}

.results-blocks {
  margin-top: 0;
}

.search-person-card table label {
  font-weight: bold;
}

.search-person-card .col-md-3 {
  padding-right: 5px;
}

.search-person-card .col-md-3:last-child {
  padding-right: 15px;
}

.search-person-card .btn, .search-equipment-card .btn {
  min-width: 80px;
  border-radius: 0;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

/*===================================================*/
/*============== LAMPSMAN CREATE TAB ========================*/
/*===================================================*/

.icon-circled {
  display: inline-block;
  height: 26px;
  width: 26px;
  background: white;
  border-radius: 50%;
  position: relative;
}

.icon-circled span {
  color: #2f3d5f;
}

.icon-circled span:before {
  font-size: 16px;
  margin: 5px 5px 5px 3px;
}

.create-cards {
  background-color: #343333;
}

.create-cards li {
  padding: 2px;
  text-transform: uppercase;
}

.create-cards li:last-child {
  border-right: none;
}

.create-cards li:hover, .create-cards li:focus {
  background: #2e3b5f !important;
  border-radius: 0;
}

.create-cards li:hover a, .create-cards li:focus a {
  background: #2e3b5f !important;
  border-radius: 0;
}

.create-cards li a:hover, .create-cards li a:focus {
  background: transparent;
  border-radius: 0;
}

.create-cards li a {
  padding: 5px 10px;
  color: #FFFFFF;
  font-size: 12px;
  text-align: left;
  background: #343333;
  border-radius: 0;
}

.create-cards li a.active {
  background: #2e3b5f;
  border: 1px solid #fff;
}

.create-cards .nav {
  margin-top: 0;
}

.create-cards li.active {
  background: #2e3b5f;
}

.create-cards li.active a {
  border: solid 1px #fff !important;
}

.last-updated {
  text-align: right;
}

.last-updated span.update-text {
  line-height: 40px;
  font-size: 10px;
}

.last-updated span.glyphicon {
  font-size: 30px;
  vertical-align: middle;
}

.equipment-creation-form label {
  font-size: 12px;
}

.equipment-creation-form input.form-control, .equipment-creation-form select.form-control {
  max-width: 100%;
  width: 100%;
}

.equipment-creation-form .label-col {
  padding: 0;
}

.equipment-creation-form .row {
  margin: 10px 0;
}

.equipment-inner-card {
  background: #FFFFFF;
  margin: 15px 5px;
}

.equipment-inner-card .create-button button {
  background: #29a9e0;
  color: #FFFFFF;
  border-radius: 0;
  border: none;
  margin: 10px 0;
  min-width: 135px;
  text-transform: uppercase;
}

.equipment-inner-card .create-button button.btn-danger {
  background-color: #fc0d1b;
}

.col-checkbox label.checkbox-inline {
  font-size: 12px;
  margin-right: 2px;
  display: inline-block;
  font-weight: normal;
}

.input-item-row {
  padding: 0;
}

.input-item-row:first-child {
  padding-top: 0;
}

.input-item-row label, td label {
  font-weight: 600;
  font-size: 12px;
}

/*===================================================*/
/*============== Forms ========================*/
/*===================================================*/
.mb {
  margin-bottom: 10px;
}

.nmb {
  margin-bottom: 0;
}

label {
  font-weight: 600;
  padding-top: 6px;
  display: block;
  margin-bottom: 8px;
}

.form-control {
  display: block;
  width: 100%;
  height: 29px;
  padding: 6px 12px;
  font-size: 12px;
  line-height: 1.42857143;
  color: #555;
  background: #fff none;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

select.form-control{
  height: 29px !important;
}
/*.form-horizontal .form-group {
  margin-right: -15px;
  margin-left: -15px;
}*/

/*.form-group {
  margin-bottom: 15px;
}*/

.input-sm {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

.input-group {
  margin-bottom: 10px;
}

.input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group {
  height: 26px;
}

/*===================================================*/
/*============== Report Tabs Buttons ========================*/
/*===================================================*/

.report-tabs .nav > li {
  text-align: center;
  min-width: 200px;
}

.report-tabs .nav {
  margin: 0;
  padding: 0;
}

.report-tabs .nav li a {
  border-radius: 0;
}

.report-tabs {
  padding: 5px !important;
}

.report-tabs .nav > li.active {
  border: 1px solid white;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover {
  background-color: #2e3c5f !important;
  border: none;
}

/*===================================================*/
/*============== TOP Action Buttons ========================*/
/*===================================================*/
.top-action-btn .btn-primary {
  background-color: #2e3c5f !important;
  border: none;
  border-radius: 8px !important;
  padding: 6px 8px;
}

.top-action-btn .btn-success {
  background-color: #009245 !important;
}

.top-action-btn {
  position: absolute;
  right: 24px;
  top: -10px;
}

/*===================================================*/
/*============== Action Buttons ========================*/
/*===================================================*/
.action-btn {
  padding: 0;
  margin-bottom: 30px;
  margin-top: 10px;
}

.action-btn .btn {
  border-radius: 0;
  text-transform: uppercase;
  height: 40px;
  padding: 0 20px;
}

/* = Smaller Text
--------------------*/
.smaller_text {
}

.smaller_text label {
  font-size: 12px;
}

.smaller_text .col-lg-1, .smaller_text .col-lg-10, .smaller_text .col-lg-11, .smaller_text .col-lg-12, .smaller_text .col-lg-2, .smaller_text .col-lg-3, .smaller_text .col-lg-4, .smaller_text .col-lg-5, .smaller_text .col-lg-6, .smaller_text .col-lg-7, .smaller_text .col-lg-8, .smaller_text .col-lg-9, .smaller_text .col-md-1, .smaller_text .col-md-10, .smaller_text .col-md-11, .smaller_text .col-md-12, .smaller_text .col-md-2, .smaller_text .col-md-3, .smaller_text .col-md-4, .smaller_text .col-md-5, .smaller_text .col-md-6, .smaller_text .col-md-7, .smaller_text .col-md-8, .smaller_text .col-md-9, .smaller_text .col-sm-1, .smaller_text .col-sm-10, .smaller_text .col-sm-11, .smaller_text .col-sm-12, .smaller_text .col-sm-2, .smaller_text .col-sm-3, .smaller_text .col-sm-4, .smaller_text .col-sm-5, .smaller_text .col-sm-6, .smaller_text .col-sm-7, .smaller_text .col-sm-8, .smaller_text .col-sm-9, .smaller_text .col-xs-1, .smaller_text .col-xs-10, .smaller_text .col-xs-11, .smaller_text .col-xs-12, .smaller_text .col-xs-2, .smaller_text .col-xs-3, .smaller_text .col-xs-4, .smaller_text .col-xs-5, .smaller_text .col-xs-6, .smaller_text .col-xs-7, .smaller_text .col-xs-8, .smaller_text .col-xs-9 {
  padding-left: 5px;
  padding-right: 5px;
}

.smaller_text .checkbox {
  margin-top: 0;
}

/*===================================================*/
/*============== Gasses ========================*/
/*===================================================*/
.gas_top_boxes {
  min-height: 152px;
}

.gasses .bar {
  background-color: transparent;
  color: #000000;
  padding: 5px 20px;
  margin-bottom: 20px;
  border-radius: 4px;
}

.gasses .bar .form-heading .heading-label {
  font-size: 18px;
  font-weight: 600;
}

.gasses .form-inline .form-control {
  width: 100%;
}

.gasses .bar-blue {
  border: 2px solid #0071bc;
}

.text-danger {
  color: #ff0000 !important;
}

.text-primary {
  color: #0071bc !important;
}

.gasses .bar-red {
  border: 2px solid #ff0000;
}

.gasses .bar-default {
  border: 2px solid #d7d7d7;
}

.gas-results {
  margin-bottom: 0
}

@media (max-width: 1543px) {

}

/*===================================================*/
/*============== Repair Section Asset Icons ========================*/
/*===================================================*/
.assets_icons {
  border-right: solid 3px #e4e4e4;
}

.assets_icons .icony {
  border: solid 3px #fff;
  border-radius: 7px;
  margin-bottom: 10px;
  margin-right: 15px;
  padding: 10px;
}

.assets_icons .icony .img {
  background: no-repeat center center;
  height: 100px;
  background-size: contain;
  width: 100%;
  margin: 0 auto;
  opacity: 0.3;
}

.assets_icons .icony.active, .assets_icons .icony:hover {
  border-color: #2e3b5f;
}

.assets_icons .icony.active .img {
  opacity: 1;;
}

.assets_icons .icony .img.i1 {
  background-image: url(./assets/images/repair_icon_1.png);
  height: 70px;
}

.assets_icons .icony .img.i2 {
  background-image: url(./assets/images/repair_icon_2.png);
  height: 70px;
}

.assets_icons .icony .img.i3 {
  background-image: url(./assets/images/repair_icon_3.png);
  height: 70px;
}

.assets_icons .icony .img.i4 {
  background-image: url(./assets/images/repair_icon_4.png);
  height: 70px;
}

.repairs_top .icon {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.repairs_top .icon span {
  display: none;
}

.repairs_top .icon.i1 {
  left: 24%;
  top: 1%;
}

.repairs_top .icon.i2 {
  left: 2%;
  top: 20%;
}

.repairs_top .icon.i3 {
  left: 2%;
  top: 33%;
}

.repairs_top .icon.i4 {
  left: 14%;
  top: 60%;
}

.repairs_top .icon.i5 {
  left: 75%;
  top: 52%;
}

.repairs_top img {
  width: 100%;
}

.index_list {
  margin: 0;
  padding: 0;
}

.index_list li {
  list-style-type: none;
  padding: 0;
  margin: 0;
  clear: both;
  height: 30px;
  line-height: 25px;
}

.index_list li .badge {
  margin-right: 10px;
  float: left;
  background-color: #000;
  color: #fff;
  text-align: center;
  width: 20px;
  height: 20px;
  border-radius: 80px;
}

.repair_pic img {
  width: 100%;
}

/*===================================================*/
/*============== Report Table ========================*/
/*===================================================*/

.report-table .form-control {
  padding: 6px;
  height: 25px;
  margin: 2px;
  width: 96%;
  border-width: 2px;
}

.report-table {
  width: 100%;
  margin-top: 15px;
}

.report-table th {
  font-size: 11px;
  line-height: 16px;
  padding-left: 2px;
}

.first-row th {
  border-top: 1px solid transparent !important;
}

.report-table tr th, .report-table tr td {
  border-width: 1px !important;
}

.report-table tr td:first-child, .report-table tr th:first-child {
  border-left: 1px solid transparent !important;
}

.report-table tr td:last-child, .report-table tr th:last-child {
  border-right: 1px solid transparent !important;
}

.last-row td {
  border-bottom: 1px solid transparent !important;
}

.last-row td.small_text {
  font-size: 12px;
  padding: 7px;
}

.last-row .list-unstyled {
  margin-left: 2px;
  margin-bottom: 0;
  margin-top: 10px;
  font-weight: 500;
}

.last-row .list-unstyled li {
  font-size: 11px;
}

.graph-key {
  border: 2px solid #000;
  padding: 2px;
  margin-top: 15px;
}

.graph-key ul {
  margin-bottom: 0;
}

.graph-key ul li {
  font-weight: 500;
  font-size: 12px;
}

.graph-container {
  margin-top: 15px;
}

.graph-bottom-table {
  margin: 15px 0;
}

#reportChart {
  width: 100%;
  height: 500px;
}

hr.dark {
  border: none;
  background-color: transparent;
  border-bottom: solid 3px #000;
}

.mt10 {
  margin-top: 10px;
}

tfoot input {
  width: 100%;
  padding: 3px;
  box-sizing: border-box;
}

.remark {
  border: solid 2px #e4e4e4;
  padding: 6px;
  margin-top: 20px;
}

.grey_box {
  background-color: #cccccc;
  padding: 10px;
  border: solid 5px #e4e4e4;
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

.dropup,
.dropdown {
  position: relative;
}

.dropdown-toggle:focus {
  outline: 0;
}

#minerbodyDropdown.dropdown-toggle::after{
  display: none;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.dropdown-menu.pull-right {
  right: 0;
  left: auto;
}

.dropdown-menu .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #262626;
  text-decoration: none;
  background-color: #f5f5f5;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #fff;
  text-decoration: none;
  background-color: #337ab7;
  outline: 0;
}

.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  color: #777;
}

.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  text-decoration: none;
  cursor: not-allowed;
  background: transparent none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.open > .dropdown-menu {
  display: block;
}

.open > a {
  outline: 0;
}

.dropdown-menu-right {
  right: 0;
  left: auto;
}

.dropdown-menu-left {
  right: auto;
  left: 0;
}

.dropdown-header {
  display: block;
  padding: 3px 20px;
  font-size: 12px;
  line-height: 1.42857143;
  color: #777;
  white-space: nowrap;
}

.dropdown-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 990;
}

.pull-right > .dropdown-menu {
  right: 0;
  left: auto;
}

.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
  content: "";
  border-top: 0;
  border-bottom: 4px dashed;
  border-bottom: 4px solid \9;
}

.dropup .dropdown-menu,
.navbar-fixed-bottom .dropdown .dropdown-menu {
  top: auto;
  bottom: 100%;
  margin-bottom: 2px;
}

.lamp-equipment {
}

.lamp-equipment .list-group {
  margin: 0;
  padding: 0;
}

.lamp-equipment .list-group .list-group-item {
  list-style-type: none;
  background-color: #2d3d5e;
  color: #fff;
  padding: 10px;
  margin-bottom: 3px;
}

.lamp-equipment .list-group .list-group-item .add_attribute_btn {
  float: right;
  font-size: 24px;
  margin-top: -3px;
}

.table_options {
  width: 100%;
}

.table_options img {
  cursor: pointer;
  width: 20px;
  display: inline-block;
  margin-right: 0;
  float: left;
}

#normal_property_block .list-group-content {
  margin: 0 20px;
  display: block;
}

#normal_property_block .property_wrap .options_wrap {
  padding: 0;
}

#normal_property_block .property_wrap .table_wrap {
  margin: 0;
}

.permisions_treeview {
  padding-left: 30px;
}

.permisions_treeview li {
  list-style-type: none;
}

.permisions_treeview li .sub_title {
  color: #fff;
  padding: 5px;
  margin-bottom: 10px;
  font-size: 17px;
  background-size: contain;
  background: #178c83 url('./assets/images/permisions_treeview_right_arrow_grey.png') no-repeat center right;
}

.permisions_treeview li .title {
  color: #fff;
  padding: 5px;
  margin-bottom: 10px;
  font-size: 17px;
  background-size: contain;
  background: #2d3d5e url('./assets/images/permisions_treeview_right_arrow.png') no-repeat center right;
}

.permisions_treeview li .content {
}

.permisions_treeview li .content .box {
  padding: 10px;
  background-color: #14924b;
  color: #fff;
  border-radius: 5px;
  margin-bottom: 15px;
}

.permisions_treeview li .content .box h3 {
  padding: 0;
  margin: 0 0 8px;
}

.permisions_treeview li .content .box .value_wrap {
  border: solid 1PX #FFF;
  padding: 5px;
  border-radius: 6px;
}

.informative_table {
  background-color: #f2f2f2;
  margin-top: -1px;
}

.informative_table table {
  width: 100%;
  font-size: 12px;
}

.informative_table thead tr {
}

.informative_table thead tr th {
  font-size: 13px;
  padding: 6px 14px;
  color: #333;
  border-bottom: solid 2px #333;
  border-top: solid 2px #333;
}

.informative_table tbody tr {
}

.informative_table tbody tr td {
  font-size: 13px;
  padding: 6px 14px;
  color: #333;
}

.informative_table tbody tr.sub_heading_top {
}

.informative_table tbody tr.sub_heading_top td {
  font-weight: bold;
  border-top: solid 2px #333;
}

.informative_table tbody tr.sub_heading_bottom {
}

.informative_table tbody tr.sub_heading_bottom td {
  font-weight: bold;
  border-bottom: solid 2px #333;
}
/*****************************Datatables********************/
.dataTables_filter input[type=search] {
  height: 26px;
  margin-right: 0;
}

.dataTables_paginate .page-link{
  padding: 0.3rem 0.5rem;
}

table.dataTable.row-border tbody th, table.dataTable.row-border tbody td, table.dataTable.display tbody th, table.dataTable.display tbody td {
  border-top: 1px solid #dddddd;
}
table.dataTable.row-border tbody tr:first-child th,
table.dataTable.row-border tbody tr:first-child td, table.dataTable.display tbody tr:first-child th,
table.dataTable.display tbody tr:first-child td {
  border-top: none;
}

table.dataTable thead th,
table.dataTable thead td {
  padding: 10px 18px;
  border-bottom: 1px solid #111111;
}

table.dataTable {
  width: 100%;
  margin: 0 auto;
  clear: both;
  border-collapse: separate;
  border-spacing: 0;
}

.button__badge {
  background-color: #fa3e3e;
  border-radius: 2px;
  color: white;

  padding: 1px 3px;
  font-size: 10px;

  position: absolute; /* Position the badge within the relatively positioned button */
  top: 0;
  right: 0;
}

/**************************** Dashboard Layout ******************************************/

.dashboard{
  display: flex;
}
.main-content{
  padding: 0 5px;
  flex: 4;
}
.right-panel{
  flex: 1;
}

/******************************** images ******************************************/
.si8{
  background-image: url(./assets/images/si8.png);
  background-size: 23px 23px;
}
