<div class="modal-header">
  <h4 class="modal-title">Asset Details</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-sm-6"><label>Asset ID</label></div>
    <div class="col-sm-6">{{asset.assetId}}</div>
  </div>


  <div class="row">
    <div class="col-sm-6"><label>Asset Type</label></div>
    <div class="col-sm-6">{{asset.type.description}}</div>
  </div>

  <div class="row">
    <div class="col-sm-6"><label>Status</label></div>
    <div class="col-sm-6">{{asset.status}}</div>
  </div>

  <div class="row" *ngFor="let attribute of asset.type?.attributes | sortBy: 'index'">
    <div class="col-sm-6"><label>{{attribute.description}} </label></div>
    <div class="col-sm-6">{{asset.attr | map: attribute.name}}</div>
  </div>

  <ng-container *ngIf="assignment">
    <div class="row">
      <div class="col-sm-6"><label>Assigned To</label></div>
      <div class="col-sm-6">{{assignment.person.attr | map: 'names'}}</div>
    </div>
    <div class="row">
      <div class="col-sm-6"><label>Employee ID</label></div>
      <div class="col-sm-6">{{assignment.person.personId}}</div>
    </div>
    <div class="row">
      <div class="col-sm-6"><label>Date Assigned</label></div>
      <div class="col-sm-6">{{assignment.startDate | date}}</div>
    </div>
  </ng-container>

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-primary" (click)="activeModal.close('Close click')">Close</button>
</div>
