<div class="{{equipmentState}}">
  <sm-dropdown [assignments]="assignedCaplamps" [assetTypes]="assetTypes"></sm-dropdown>
  <span class="button__badge" *ngIf="assignedCaplamps.length > 0">{{assignedCaplamps?.length}}</span>
  <span>Cap <br>Lamp</span>
</div>
