<div layout="row" layout-align="start center" class="footer">
  <span class="md-caption">Copyright &copy; {{currentDate | date: 'y'}} Schauenburg Systems. All rights reserved</span>
  <span flex></span>
</div>
