<div class="mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource" matSort aria-label="Elements">

    <!-- Time Column -->
    <ng-container matColumnDef="time">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Time</mat-header-cell>
      <mat-cell *matCellDef="let measurement">{{measurement.measurementTime | date: 'yyyy-MM-dd HH:mm:ss '}}</mat-cell>
    </ng-container>

    <!-- Type Column -->
    <ng-container matColumnDef="type">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Type</mat-header-cell>
      <mat-cell *matCellDef="let measurement">{{measurement?.type.description}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="assetId">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Equipment ID</mat-header-cell>
      <mat-cell *matCellDef="let measurement">{{measurement?.asset.assetId}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="location">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Location</mat-header-cell>
      <mat-cell *matCellDef="let measurement">{{measurement?.location.description}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="value">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Value</mat-header-cell>
      <mat-cell *matCellDef="let measurement">{{measurement.value}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="options">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Options</mat-header-cell>
      <mat-cell *matCellDef="let measurement">
        <img (click)="viewDetails(measurement)" src="./assets/images/View-Details-Icon-37x37.png" title="view details" alt="view details" class="sbi8" />
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let measurement; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator #paginator
    [length]="dataSource.data.length"
    [pageIndex]="0"
    [pageSize]="50"
    [pageSizeOptions]="[25, 50, 100, 250]">
  </mat-paginator>
</div>
