<div class="relative">
  <div class="card card-primary right-card-block" style="width:100%" id="movement-card">
    <div class="card-body">
      <table class="table">
        <thead style="cursor: pointer;" (click)="movement == !movement">
        <tr>
          <td>Movement</td>
          <td class="td-dropdown" colspan="4"><i class="fa fa-angle-{{ !movement ? 'down' : 'up'}}" aria-hidden="true"></i></td>
        </tr>
        <tr>
          <th> AssetID</th>
          <th class="text-right">Event Type</th>
          <th class="show-on-expand">Person ID</th>
          <th class="show-on-expand">Location</th>
          <th class="text-right">Time</th>
        </tr>
        </thead>
        <tbody [hidden]="movement">
        <tr *ngFor="let data of movements">
          <td>{{data.equipmentId}}</td>
          <td class="text-right">{{data.assignedTo}}</td>
          <td class="show-on-expand">000000000</td>
          <td class="show-on-expand">0000000</td>
          <td class="text-right">{{data.time}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

